Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Badkamer.json
[{"id":"bcba8eab.38f3c","type":"tab","label":"Badkamer","disabled":false,"info":""},{"id":"ac24ccdd.432f","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"Badkamer/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Badkamer/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Badkamer/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"c639df4d.44293","type":"rpi-gpio in","z":"bcba8eab.38f3c","name":"Pin 15 pir klein","pin":"15","intype":"tri","debounce":"25","read":false,"x":130,"y":200,"wires":[["1b49a626.5b0eea"]]},{"id":"1187ac75.aa0194","type":"rpi-dht22","z":"bcba8eab.38f3c","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":280,"y":380,"wires":[["57349295.3b560c","a9fd68ac.f1c5e8"]]},{"id":"57349295.3b560c","type":"function","z":"bcba8eab.38f3c","name":"temperatuur","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["28bd464e.f5ce2a"]]},{"id":"a9fd68ac.f1c5e8","type":"function","z":"bcba8eab.38f3c","name":"luchtvochtigheid","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["a9086d2a.f4261"]]},{"id":"1b49a626.5b0eea","type":"mqtt out","z":"bcba8eab.38f3c","name":"Mqtt Pir klein","topic":"Badkamer/input/pir_klein","qos":"","retain":"","broker":"ac24ccdd.432f","x":750,"y":200,"wires":[]},{"id":"28bd464e.f5ce2a","type":"mqtt out","z":"bcba8eab.38f3c","name":"MQTT DHT temperatuur","topic":"Badkamer/input/temperatuur","qos":"","retain":"","broker":"ac24ccdd.432f","x":830,"y":380,"wires":[]},{"id":"a9086d2a.f4261","type":"mqtt out","z":"bcba8eab.38f3c","name":"MQTT DHT luchtvochtigheid","topic":"Badkamer/input/luchtvochtigheid","qos":"","retain":"","broker":"ac24ccdd.432f","x":840,"y":500,"wires":[]},{"id":"6aeb11d7.52097","type":"inject","z":"bcba8eab.38f3c","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":900,"wires":[["1187ac75.aa0194","9d747c77.232b","d9391477.090ca8","fd57a247.5a28e","11f9cb3a.b89df5","1ca25946.b81007"]]},{"id":"e07389e6.4077c","type":"rpi-gpio in","z":"bcba8eab.38f3c","name":"Pin 13 pir groot","pin":"13","intype":"tri","debounce":"25","read":false,"x":150,"y":80,"wires":[["f7ebdd06.6b00c"]]},{"id":"f7ebdd06.6b00c","type":"mqtt out","z":"bcba8eab.38f3c","name":"MQTT pir groot","topic":"Badkamer/input/pir_groot","qos":"","retain":"","broker":"ac24ccdd.432f","x":630,"y":100,"wires":[]},{"id":"768a18d0.ac4938","type":"inject","z":"bcba8eab.38f3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":150,"y":1520,"wires":[["57062e61.94963"]]},{"id":"11f9cb3a.b89df5","type":"vcgencmd","z":"bcba8eab.38f3c","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":380,"y":920,"wires":[["a991feb4.202fb","603d110a.96e24"]]},{"id":"57062e61.94963","type":"cpu","z":"bcba8eab.38f3c","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":408.5,"y":1525.75,"wires":[["127a296e.0b1d07"]]},{"id":"d9391477.090ca8","type":"vcgencmd","z":"bcba8eab.38f3c","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":400.5,"y":638.75,"wires":[["f3feeb89.9f7578"]]},{"id":"60bcae10.29985","type":"Uptime","z":"bcba8eab.38f3c","name":"","x":360,"y":1640,"wires":[["6e2e2299.d2ac2c"]]},{"id":"fd57a247.5a28e","type":"Memory","z":"bcba8eab.38f3c","name":"","x":369,"y":777,"wires":[["dd08eeda.21c75"]]},{"id":"dfd9fc84.85a2","type":"inject","z":"bcba8eab.38f3c","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":178,"y":1640,"wires":[["60bcae10.29985"]]},{"id":"6e2e2299.d2ac2c","type":"function","z":"bcba8eab.38f3c","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1640,"wires":[["13f236ae.46c819"]]},{"id":"dd08eeda.21c75","type":"function","z":"bcba8eab.38f3c","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":777,"wires":[["f959ce31.c19e5"]]},{"id":"a991feb4.202fb","type":"function","z":"bcba8eab.38f3c","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":923,"wires":[["d0f7a077.d76d6"]]},{"id":"603d110a.96e24","type":"function","z":"bcba8eab.38f3c","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":1050,"wires":[["95a8e978.777ec8"]]},{"id":"f3feeb89.9f7578","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/temp","qos":"","retain":"","broker":"ac24ccdd.432f","x":824.5,"y":636.75,"wires":[]},{"id":"127a296e.0b1d07","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/cpu","qos":"","retain":"","broker":"ac24ccdd.432f","x":826.5,"y":1530.75,"wires":[]},{"id":"f959ce31.c19e5","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/mem","qos":"","retain":"","broker":"ac24ccdd.432f","x":813,"y":777,"wires":[]},{"id":"d0f7a077.d76d6","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/undervoltage","qos":"","retain":"","broker":"ac24ccdd.432f","x":847,"y":920,"wires":[]},{"id":"95a8e978.777ec8","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/throttle","qos":"","retain":"","broker":"ac24ccdd.432f","x":804,"y":1055,"wires":[]},{"id":"13f236ae.46c819","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/uptime","qos":"","retain":"","broker":"ac24ccdd.432f","x":792,"y":1643,"wires":[]},{"id":"9d747c77.232b","type":"exec","z":"bcba8eab.38f3c","command":"cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi signal","x":354.5,"y":1204.25,"wires":[["7a400e6c.657cf"],[],[]]},{"id":"7a400e6c.657cf","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/wifi","qos":"","retain":"","broker":"ac24ccdd.432f","x":754.5,"y":1204.25,"wires":[]},{"id":"5cc43778.83a998","type":"exec","z":"bcba8eab.38f3c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":500,"y":1760,"wires":[[],[],[]]},{"id":"620c5689.aeed28","type":"exec","z":"bcba8eab.38f3c","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":510,"y":1840,"wires":[[],[],[]]},{"id":"49d55eee.f06b7","type":"mqtt in","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/reboot","qos":"2","datatype":"auto","broker":"ac24ccdd.432f","x":220,"y":1760,"wires":[["5cc43778.83a998"]]},{"id":"65c88c9c.bd5974","type":"mqtt in","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/shutdown","qos":"2","datatype":"auto","broker":"ac24ccdd.432f","x":230,"y":1840,"wires":[["620c5689.aeed28"]]},{"id":"4b53c6db.fb3948","type":"inject","z":"bcba8eab.38f3c","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["ba4456a7.550518"]]},{"id":"ba4456a7.550518","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/status","qos":"","retain":"","broker":"ac24ccdd.432f","x":770,"y":300,"wires":[]},{"id":"1ca25946.b81007","type":"exec","z":"bcba8eab.38f3c","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":344.5,"y":1344.25,"wires":[["b9453f3b.ad83a"],[],[]]},{"id":"b9453f3b.ad83a","type":"mqtt out","z":"bcba8eab.38f3c","name":"","topic":"Badkamer/system/swap","qos":"","retain":"","broker":"ac24ccdd.432f","x":764.5,"y":1344.25,"wires":[]}]