Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Badkamer.json
[
    {
        "id": "bcba8eab.38f3c",
        "type": "tab",
        "label": "Badkamer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c639df4d.44293",
        "type": "rpi-gpio in",
        "z": "bcba8eab.38f3c",
        "name": "Pin 15 pir klein",
        "pin": "15",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "1b49a626.5b0eea"
            ]
        ]
    },
    {
        "id": "1187ac75.aa0194",
        "type": "rpi-dht22",
        "z": "bcba8eab.38f3c",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "7",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "42e05665.de1288",
                "57349295.3b560c",
                "a9fd68ac.f1c5e8"
            ]
        ]
    },
    {
        "id": "57349295.3b560c",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "28bd464e.f5ce2a",
                "2a9e325.ac614ce"
            ]
        ]
    },
    {
        "id": "a9fd68ac.f1c5e8",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "a9086d2a.f4261",
                "b5b6db8.cde1428"
            ]
        ]
    },
    {
        "id": "42e05665.de1288",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a9e325.ac614ce",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5b6db8.cde1428",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "1b49a626.5b0eea",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "Mqtt Pir klein",
        "topic": "Badkamer/input/pir_klein",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "28bd464e.f5ce2a",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "MQTT DHT temperatuur",
        "topic": "Badkamer/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "a9086d2a.f4261",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "Badkamer/input/luchtvochtigheid",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "6aeb11d7.52097",
        "type": "inject",
        "z": "bcba8eab.38f3c",
        "name": "Elke minuut",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "1187ac75.aa0194"
            ]
        ]
    },
    {
        "id": "e07389e6.4077c",
        "type": "rpi-gpio in",
        "z": "bcba8eab.38f3c",
        "name": "Pin 13 pir groot",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f7ebdd06.6b00c"
            ]
        ]
    },
    {
        "id": "f7ebdd06.6b00c",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "MQTT pir groot",
        "topic": "Badkamer/input/pir_groot",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "768a18d0.ac4938",
        "type": "inject",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "11f9cb3a.b89df5",
                "d9391477.090ca8",
                "fd57a247.5a28e",
                "9d747c77.232b"
            ]
        ]
    },
    {
        "id": "11f9cb3a.b89df5",
        "type": "vcgencmd",
        "z": "bcba8eab.38f3c",
        "name": "",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 395.5,
        "y": 1035.75,
        "wires": [
            [
                "a991feb4.202fb",
                "603d110a.96e24"
            ]
        ]
    },
    {
        "id": "57062e61.94963",
        "type": "cpu",
        "z": "bcba8eab.38f3c",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 388.5,
        "y": 745.75,
        "wires": [
            [
                "300acaee.ba0ee6",
                "127a296e.0b1d07"
            ]
        ]
    },
    {
        "id": "300acaee.ba0ee6",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 779.5,
        "y": 792.75,
        "wires": []
    },
    {
        "id": "d2428d6a.ca724",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 785.5,
        "y": 1107.75,
        "wires": []
    },
    {
        "id": "d9391477.090ca8",
        "type": "vcgencmd",
        "z": "bcba8eab.38f3c",
        "name": "",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 400.5,
        "y": 638.75,
        "wires": [
            [
                "be40a36a.b83f5",
                "f3feeb89.9f7578"
            ]
        ]
    },
    {
        "id": "be40a36a.b83f5",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 784.5,
        "y": 690.75,
        "wires": []
    },
    {
        "id": "60bcae10.29985",
        "type": "Uptime",
        "z": "bcba8eab.38f3c",
        "name": "",
        "x": 379.5,
        "y": 1311.75,
        "wires": [
            [
                "6e2e2299.d2ac2c"
            ]
        ]
    },
    {
        "id": "fd57a247.5a28e",
        "type": "Memory",
        "z": "bcba8eab.38f3c",
        "name": "",
        "x": 384.5,
        "y": 892.75,
        "wires": [
            [
                "dd08eeda.21c75"
            ]
        ]
    },
    {
        "id": "dfd9fc84.85a2",
        "type": "inject",
        "z": "bcba8eab.38f3c",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 197.5,
        "y": 1311.75,
        "wires": [
            [
                "60bcae10.29985"
            ]
        ]
    },
    {
        "id": "6e2e2299.d2ac2c",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 539.5,
        "y": 1311.75,
        "wires": [
            [
                "bd22741c.4ca178",
                "13f236ae.46c819"
            ]
        ]
    },
    {
        "id": "dd08eeda.21c75",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 557.5,
        "y": 892.75,
        "wires": [
            [
                "4d57125b.ae1a2c",
                "f959ce31.c19e5"
            ]
        ]
    },
    {
        "id": "bd22741c.4ca178",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 754.5,
        "y": 1372.75,
        "wires": []
    },
    {
        "id": "4d57125b.ae1a2c",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790.5,
        "y": 966.75,
        "wires": []
    },
    {
        "id": "a991feb4.202fb",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 599.5,
        "y": 1038.75,
        "wires": [
            [
                "d2428d6a.ca724",
                "d0f7a077.d76d6"
            ]
        ]
    },
    {
        "id": "603d110a.96e24",
        "type": "function",
        "z": "bcba8eab.38f3c",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 587.5,
        "y": 1165.75,
        "wires": [
            [
                "570a5b3d.f69634",
                "95a8e978.777ec8"
            ]
        ]
    },
    {
        "id": "570a5b3d.f69634",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 768.5,
        "y": 1236.75,
        "wires": []
    },
    {
        "id": "f3feeb89.9f7578",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/temp",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 824.5,
        "y": 636.75,
        "wires": []
    },
    {
        "id": "127a296e.0b1d07",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 806.5,
        "y": 750.75,
        "wires": []
    },
    {
        "id": "f959ce31.c19e5",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/mem",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 828.5,
        "y": 892.75,
        "wires": []
    },
    {
        "id": "d0f7a077.d76d6",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/undervoltage",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 862.5,
        "y": 1035.75,
        "wires": []
    },
    {
        "id": "95a8e978.777ec8",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 819.5,
        "y": 1170.75,
        "wires": []
    },
    {
        "id": "13f236ae.46c819",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/uptime",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 811.5,
        "y": 1314.75,
        "wires": []
    },
    {
        "id": "74cfebe5.b61e44",
        "type": "inject",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 133.5,
        "y": 838.75,
        "wires": [
            [
                "57062e61.94963"
            ]
        ]
    },
    {
        "id": "d2db8b6b.f9efb8",
        "type": "debug",
        "z": "bcba8eab.38f3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 1540,
        "wires": []
    },
    {
        "id": "9d747c77.232b",
        "type": "exec",
        "z": "bcba8eab.38f3c",
        "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Wifi signal",
        "x": 390,
        "y": 1480,
        "wires": [
            [
                "d2db8b6b.f9efb8",
                "7a400e6c.657cf"
            ],
            [],
            []
        ]
    },
    {
        "id": "7a400e6c.657cf",
        "type": "mqtt out",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/wifi",
        "qos": "",
        "retain": "",
        "broker": "ac24ccdd.432f",
        "x": 790,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5cc43778.83a998",
        "type": "exec",
        "z": "bcba8eab.38f3c",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 520,
        "y": 1600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "620c5689.aeed28",
        "type": "exec",
        "z": "bcba8eab.38f3c",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 530,
        "y": 1680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "49d55eee.f06b7",
        "type": "mqtt in",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "ac24ccdd.432f",
        "x": 240,
        "y": 1600,
        "wires": [
            [
                "5cc43778.83a998"
            ]
        ]
    },
    {
        "id": "65c88c9c.bd5974",
        "type": "mqtt in",
        "z": "bcba8eab.38f3c",
        "name": "",
        "topic": "Badkamer/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "ac24ccdd.432f",
        "x": 250,
        "y": 1680,
        "wires": [
            [
                "620c5689.aeed28"
            ]
        ]
    },
    {
        "id": "ac24ccdd.432f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Badkamer/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Badkamer/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Badkamer/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    }
]