Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Fien.json
[{"id":"f5b5640e.1deba8","type":"tab","label":"Fien","disabled":false,"info":""},{"id":"929b9fbd.25384","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Fien/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Fien/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Fien/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"cf058.c48f6fa8","type":"rpi-gpio in","z":"f5b5640e.1deba8","name":"Pin 15 pir klein","pin":"15","intype":"tri","debounce":"25","read":false,"x":130,"y":200,"wires":[["c02cc7.313bd338"]]},{"id":"dac123c6.53af2","type":"function","z":"f5b5640e.1deba8","name":"temperatuur","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":403,"wires":[["6461d640.eea118"]]},{"id":"da4a6272.c9445","type":"function","z":"f5b5640e.1deba8","name":"luchtvochtigheid","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":523,"wires":[["2b1c7ea0.505022"]]},{"id":"c02cc7.313bd338","type":"mqtt out","z":"f5b5640e.1deba8","name":"Mqtt Pir klein","topic":"Fien/input/pir_klein","qos":"","retain":"","broker":"929b9fbd.25384","x":750,"y":200,"wires":[]},{"id":"6461d640.eea118","type":"mqtt out","z":"f5b5640e.1deba8","name":"MQTT DHT temperatuur","topic":"Fien/input/temperatuur","qos":"","retain":"","broker":"929b9fbd.25384","x":830,"y":403,"wires":[]},{"id":"2b1c7ea0.505022","type":"mqtt out","z":"f5b5640e.1deba8","name":"MQTT DHT luchtvochtigheid","topic":"Fien/input/luchtvochtigheid","qos":"","retain":"","broker":"929b9fbd.25384","x":840,"y":523,"wires":[]},{"id":"e2a16d5b.d722f","type":"inject","z":"f5b5640e.1deba8","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":938,"wires":[["39daf757.61c8e8","c10fb661.6ed6c8","d3c6c394.9a2b7","4f9d6beb.013904","75d0c3be.9d714c","5c805a67.887404"]]},{"id":"e778465d.a2eaa8","type":"rpi-gpio in","z":"f5b5640e.1deba8","name":"Pin 13 pir groot","pin":"13","intype":"tri","debounce":"25","read":false,"x":150,"y":80,"wires":[["4173c68a.146ae8"]]},{"id":"4173c68a.146ae8","type":"mqtt out","z":"f5b5640e.1deba8","name":"MQTT pir groot","topic":"Fien/input/pir_groot","qos":"","retain":"","broker":"929b9fbd.25384","x":630,"y":100,"wires":[]},{"id":"39daf757.61c8e8","type":"rpi-dht22","z":"f5b5640e.1deba8","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":280,"y":403,"wires":[["dac123c6.53af2","da4a6272.c9445"]]},{"id":"2e04be6a.c24212","type":"inject","z":"f5b5640e.1deba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":160,"y":1554.25,"wires":[["cdb01758.8633e8"]]},{"id":"4f9d6beb.013904","type":"vcgencmd","z":"f5b5640e.1deba8","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":381.5,"y":958,"wires":[["a00f4f42.76b1e","43c2f68b.103708"]]},{"id":"cdb01758.8633e8","type":"cpu","z":"f5b5640e.1deba8","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":411.5,"y":1559,"wires":[["28eaba47.567136"]]},{"id":"c10fb661.6ed6c8","type":"vcgencmd","z":"f5b5640e.1deba8","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":387.5,"y":670,"wires":[["98661690.96b3a8"]]},{"id":"84c673b2.7a95a","type":"Uptime","z":"f5b5640e.1deba8","name":"","x":341.5,"y":1703,"wires":[["1c02858f.3633da"]]},{"id":"d3c6c394.9a2b7","type":"Memory","z":"f5b5640e.1deba8","name":"","x":370.5,"y":815,"wires":[["c81f0fba.1942e"]]},{"id":"8ed30c0.d2691f8","type":"inject","z":"f5b5640e.1deba8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":159.5,"y":1703,"wires":[["84c673b2.7a95a"]]},{"id":"1c02858f.3633da","type":"function","z":"f5b5640e.1deba8","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":501.5,"y":1703,"wires":[["e5989a69.795258"]]},{"id":"c81f0fba.1942e","type":"function","z":"f5b5640e.1deba8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":543.5,"y":815,"wires":[["95b8e44a.d268b8"]]},{"id":"a00f4f42.76b1e","type":"function","z":"f5b5640e.1deba8","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":585.5,"y":961,"wires":[["23cbc13e.0fb7ae"]]},{"id":"43c2f68b.103708","type":"function","z":"f5b5640e.1deba8","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":573.5,"y":1088,"wires":[["f2fc4689.2b7548"]]},{"id":"98661690.96b3a8","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/temp","qos":"","retain":"","broker":"929b9fbd.25384","x":791.5,"y":668,"wires":[]},{"id":"28eaba47.567136","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/cpu","qos":"","retain":"","broker":"929b9fbd.25384","x":819.5,"y":1564,"wires":[]},{"id":"95b8e44a.d268b8","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/mem","qos":"","retain":"","broker":"929b9fbd.25384","x":794.5,"y":815,"wires":[]},{"id":"23cbc13e.0fb7ae","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/undervoltage","qos":"","retain":"","broker":"929b9fbd.25384","x":828.5,"y":958,"wires":[]},{"id":"f2fc4689.2b7548","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/throttle","qos":"","retain":"","broker":"929b9fbd.25384","x":795.5,"y":1093,"wires":[]},{"id":"e5989a69.795258","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/uptime","qos":"","retain":"","broker":"929b9fbd.25384","x":763.5,"y":1706,"wires":[]},{"id":"75d0c3be.9d714c","type":"exec","z":"f5b5640e.1deba8","command":"cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi signal","x":372,"y":1231.25,"wires":[["f433ad38.b648b"],[],[]]},{"id":"f433ad38.b648b","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/wifi","qos":"","retain":"","broker":"929b9fbd.25384","x":752,"y":1231.25,"wires":[]},{"id":"ad88d659.2a6748","type":"exec","z":"f5b5640e.1deba8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":478,"y":1801.25,"wires":[[],[],[]]},{"id":"339b2ed5.0d5752","type":"exec","z":"f5b5640e.1deba8","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":488,"y":1881.25,"wires":[[],[],[]]},{"id":"2ac3f16a.75c9ce","type":"mqtt in","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/reboot","qos":"2","datatype":"auto","broker":"929b9fbd.25384","x":178,"y":1801.25,"wires":[["ad88d659.2a6748"]]},{"id":"3400945b.7c8dec","type":"mqtt in","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/shutdown","qos":"2","datatype":"auto","broker":"929b9fbd.25384","x":188,"y":1881.25,"wires":[["339b2ed5.0d5752"]]},{"id":"7df421aa.1c05b","type":"inject","z":"f5b5640e.1deba8","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":274,"wires":[["b14c5a1e.073b28"]]},{"id":"b14c5a1e.073b28","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/status","qos":"","retain":"","broker":"929b9fbd.25384","x":379,"y":276,"wires":[]},{"id":"5c805a67.887404","type":"exec","z":"f5b5640e.1deba8","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":357,"y":1380,"wires":[["c245e166.ec0dc"],[],[]]},{"id":"c245e166.ec0dc","type":"mqtt out","z":"f5b5640e.1deba8","name":"","topic":"Fien/system/swap","qos":"","retain":"","broker":"929b9fbd.25384","x":757,"y":1380,"wires":[]}]