Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Fien.json
[
  {
    "id": "f5b5640e.1deba8",
    "type": "tab",
    "label": "Fien",
    "disabled": false,
    "info": ""
  },
  {
    "id": "929b9fbd.25384",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "Fien/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "Fien/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "Fien/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  },
  {
    "id": "59d9a5b6.99aa2c",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "Living/zero/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "Living/zero/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "Living/zero/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  },
  {
    "id": "cf058.c48f6fa8",
    "type": "rpi-gpio in",
    "z": "f5b5640e.1deba8",
    "name": "Pin 15 pir klein",
    "pin": "15",
    "intype": "tri",
    "debounce": "25",
    "read": false,
    "x": 195,
    "y": 601,
    "wires": [["c02cc7.313bd338"]]
  },
  {
    "id": "dac123c6.53af2",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "temperatuur",
    "func": "msg.payload = msg.payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 531,
    "y": 919,
    "wires": [["6461d640.eea118"]]
  },
  {
    "id": "da4a6272.c9445",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "luchtvochtigheid",
    "func": "msg.payload = msg.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 541,
    "y": 1039,
    "wires": [["2b1c7ea0.505022"]]
  },
  {
    "id": "c02cc7.313bd338",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "Mqtt Pir klein",
    "topic": "Fien/input/pir_klein",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 815,
    "y": 601,
    "wires": []
  },
  {
    "id": "6461d640.eea118",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "MQTT DHT temperatuur",
    "topic": "Fien/input/temperatuur",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 851,
    "y": 919,
    "wires": []
  },
  {
    "id": "2b1c7ea0.505022",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "MQTT DHT luchtvochtigheid",
    "topic": "Fien/input/luchtvochtigheid",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 861,
    "y": 1039,
    "wires": []
  },
  {
    "id": "e2a16d5b.d722f",
    "type": "inject",
    "z": "f5b5640e.1deba8",
    "name": "Elke minuut",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 95,
    "y": 938,
    "wires": [
      [
        "39daf757.61c8e8",
        "c10fb661.6ed6c8",
        "d3c6c394.9a2b7",
        "4f9d6beb.013904",
        "75d0c3be.9d714c",
        "5c805a67.887404"
      ]
    ]
  },
  {
    "id": "e778465d.a2eaa8",
    "type": "rpi-gpio in",
    "z": "f5b5640e.1deba8",
    "name": "Pin 13 pir groot",
    "pin": "13",
    "intype": "tri",
    "debounce": "25",
    "read": false,
    "x": 215,
    "y": 481,
    "wires": [["4173c68a.146ae8"]]
  },
  {
    "id": "4173c68a.146ae8",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "MQTT pir groot",
    "topic": "Fien/input/pir_groot",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 695,
    "y": 501,
    "wires": []
  },
  {
    "id": "39daf757.61c8e8",
    "type": "rpi-dht22",
    "z": "f5b5640e.1deba8",
    "name": "DHT22",
    "topic": "rpi-dht22",
    "dht": 22,
    "pintype": "2",
    "pin": "7",
    "x": 301,
    "y": 919,
    "wires": [["dac123c6.53af2", "da4a6272.c9445"]]
  },
  {
    "id": "2e04be6a.c24212",
    "type": "inject",
    "z": "f5b5640e.1deba8",
    "name": "",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 1554.25,
    "wires": [["cdb01758.8633e8"]]
  },
  {
    "id": "4f9d6beb.013904",
    "type": "vcgencmd",
    "z": "f5b5640e.1deba8",
    "name": "",
    "command": "get_throttled",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 355.5,
    "y": 668,
    "wires": [["a00f4f42.76b1e", "43c2f68b.103708"]]
  },
  {
    "id": "cdb01758.8633e8",
    "type": "cpu",
    "z": "f5b5640e.1deba8",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "msgArray": false,
    "msgTemp": false,
    "x": 411.5,
    "y": 1559,
    "wires": [["28eaba47.567136"]]
  },
  {
    "id": "c10fb661.6ed6c8",
    "type": "vcgencmd",
    "z": "f5b5640e.1deba8",
    "name": "",
    "command": "measure_temp",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 358.5,
    "y": 1133,
    "wires": [["98661690.96b3a8"]]
  },
  {
    "id": "84c673b2.7a95a",
    "type": "Uptime",
    "z": "f5b5640e.1deba8",
    "name": "",
    "x": 341.5,
    "y": 1703,
    "wires": [["1c02858f.3633da"]]
  },
  {
    "id": "d3c6c394.9a2b7",
    "type": "Memory",
    "z": "f5b5640e.1deba8",
    "name": "",
    "x": 341.5,
    "y": 1278,
    "wires": [["c81f0fba.1942e"]]
  },
  {
    "id": "8ed30c0.d2691f8",
    "type": "inject",
    "z": "f5b5640e.1deba8",
    "name": "update",
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 159.5,
    "y": 1703,
    "wires": [["84c673b2.7a95a"]]
  },
  {
    "id": "1c02858f.3633da",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "",
    "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 501.5,
    "y": 1703,
    "wires": [["e5989a69.795258"]]
  },
  {
    "id": "c81f0fba.1942e",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "",
    "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 514.5,
    "y": 1278,
    "wires": [["95b8e44a.d268b8"]]
  },
  {
    "id": "a00f4f42.76b1e",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "Undervoltage",
    "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 559.5,
    "y": 671,
    "wires": [["23cbc13e.0fb7ae"]]
  },
  {
    "id": "43c2f68b.103708",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "Throttle",
    "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 547.5,
    "y": 798,
    "wires": [["f2fc4689.2b7548"]]
  },
  {
    "id": "98661690.96b3a8",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/temp",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 762.5,
    "y": 1131,
    "wires": []
  },
  {
    "id": "28eaba47.567136",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/cpu",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 819.5,
    "y": 1564,
    "wires": []
  },
  {
    "id": "95b8e44a.d268b8",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/mem",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 765.5,
    "y": 1278,
    "wires": []
  },
  {
    "id": "23cbc13e.0fb7ae",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/undervoltage",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 808.5,
    "y": 669,
    "wires": []
  },
  {
    "id": "f2fc4689.2b7548",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/throttle",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 769.5,
    "y": 803,
    "wires": []
  },
  {
    "id": "e5989a69.795258",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/uptime",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 763.5,
    "y": 1706,
    "wires": []
  },
  {
    "id": "75d0c3be.9d714c",
    "type": "exec",
    "z": "f5b5640e.1deba8",
    "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Wifi signal",
    "x": 348,
    "y": 1332.25,
    "wires": [["f433ad38.b648b"], [], []]
  },
  {
    "id": "f433ad38.b648b",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/wifi",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 728,
    "y": 1332.25,
    "wires": []
  },
  {
    "id": "ad88d659.2a6748",
    "type": "exec",
    "z": "f5b5640e.1deba8",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Reboot",
    "x": 478,
    "y": 1801.25,
    "wires": [[], [], []]
  },
  {
    "id": "339b2ed5.0d5752",
    "type": "exec",
    "z": "f5b5640e.1deba8",
    "command": "sudo shutdown -h now",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Shutdown",
    "x": 488,
    "y": 1881.25,
    "wires": [[], [], []]
  },
  {
    "id": "2ac3f16a.75c9ce",
    "type": "mqtt in",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/reboot",
    "qos": "2",
    "datatype": "auto",
    "broker": "929b9fbd.25384",
    "x": 178,
    "y": 1801.25,
    "wires": [["ad88d659.2a6748"]]
  },
  {
    "id": "3400945b.7c8dec",
    "type": "mqtt in",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/shutdown",
    "qos": "2",
    "datatype": "auto",
    "broker": "929b9fbd.25384",
    "x": 188,
    "y": 1881.25,
    "wires": [["339b2ed5.0d5752"]]
  },
  {
    "id": "7df421aa.1c05b",
    "type": "inject",
    "z": "f5b5640e.1deba8",
    "name": "",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "online",
    "payloadType": "str",
    "x": 151,
    "y": 70,
    "wires": [["b14c5a1e.073b28"]]
  },
  {
    "id": "b14c5a1e.073b28",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/status",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 438,
    "y": 72,
    "wires": []
  },
  {
    "id": "5c805a67.887404",
    "type": "exec",
    "z": "f5b5640e.1deba8",
    "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Swap %",
    "x": 333,
    "y": 1481,
    "wires": [["c245e166.ec0dc"], [], []]
  },
  {
    "id": "c245e166.ec0dc",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "",
    "topic": "Fien/system/swap",
    "qos": "",
    "retain": "",
    "broker": "929b9fbd.25384",
    "x": 733,
    "y": 1481,
    "wires": []
  },
  {
    "id": "104d115c.305927",
    "type": "mqtt out",
    "z": "f5b5640e.1deba8",
    "name": "Send Messages",
    "topic": "",
    "qos": "2",
    "retain": "true",
    "broker": "929b9fbd.25384",
    "x": 769,
    "y": 263,
    "wires": []
  },
  {
    "id": "ea23e4a2.eaa928",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "Format config messages binary sensors",
    "func": "var ident = \"fien_pi_zero\";\nvar name = \"FienPi Zero\";\nvar model = \"Zero\";\nvar manufact = \"DIY\";\n\nvar t = \"Fien/\";\nvar av_t = \"Fien/status\";\n\nvar name1 = \"Beweging Fien pir klein\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/pir_klein\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Beweging Fien pir groot\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/pir_groot\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n};\n// var name3 = \"Beweging Living Zero\";\n// var id3 = (name3.toLowerCase()).split(' ').join('_');\n// var config3 = {\n//     payload: {\n//         name: name3,\n//         uniq_id: id3,\n//         stat_t: t+\"input/pir\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n// };\nvar name4 = \"Fien throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Fien undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Fien online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config1, config2, config4, config5, config6];\n\n",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 422,
    "y": 192,
    "wires": [
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"]
    ]
  },
  {
    "id": "e60b12c1.93bb3",
    "type": "inject",
    "z": "f5b5640e.1deba8",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "Started!",
        "vt": "str"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "string"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "topic": "",
    "payload": "Started!",
    "payloadType": "str",
    "x": 99,
    "y": 278,
    "wires": [["ea23e4a2.eaa928", "daddd17.61ae23"]]
  },
  {
    "id": "daddd17.61ae23",
    "type": "function",
    "z": "f5b5640e.1deba8",
    "name": "Format config messages sensors",
    "func": "var ident = \"fien_pi_zero\";\nvar name = \"FienPi Zero\";\nvar model = \"Zero\";\nvar manufact = \"DIY\";\n\nvar t = \"Fien/\";\nvar av_t = \"Fien/status\";\n\nvar name1 = \"Temperatuur Fien\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Luchtvochtigheid Fien\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/luchtvochtigheid\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Temperatuur cpu Fien\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu Fien\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram Fien\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap Fien\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime Fien\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\nvar name8 = \"Wifi Fien\";\nvar id8 = (name8.toLowerCase()).split(' ').join('_');\nvar config8 = {\n    payload: {\n        name: name8,\n        uniq_id: id8,\n        stat_t: t+\"system/wifi\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:wifi-strength-2\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n};\nreturn [config1, config2, config3, config4, config5, config6, config7, config8];\n",
    "outputs": 8,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 424,
    "y": 359,
    "wires": [
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"]
    ]
  }
]
