Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Garage.json
[{"id":"9e5a9985.856b48","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"669a7128.2b8b","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Garage/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Garage/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Garage/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"65c54c44.33b3f4","type":"rpi-ds18b20","z":"9e5a9985.856b48","topic":"","array":false,"name":"","x":458,"y":200,"wires":[["94b309f3.ad6b48"]]},{"id":"b884174.6cbcae8","type":"inject","z":"9e5a9985.856b48","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":608,"wires":[["65c54c44.33b3f4","ee1cf38a.6b6e8","87a1b1bd.b6a53","12bad196.6d2f0e","5ea2c111.6ff18","302fb62c.a33dea"]]},{"id":"94b309f3.ad6b48","type":"mqtt out","z":"9e5a9985.856b48","name":"MQTT DHT temperatuur","topic":"Garage/input/temperatuur","qos":"","retain":"","broker":"669a7128.2b8b","x":816,"y":200,"wires":[]},{"id":"693dd017.9201b","type":"inject","z":"9e5a9985.856b48","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":210,"y":1188,"wires":[["4ebcdc6b.290374"]]},{"id":"12bad196.6d2f0e","type":"vcgencmd","z":"9e5a9985.856b48","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":399.5,"y":557.75,"wires":[["9e38bfc6.57aa","ab725bfc.0a3fc8"]]},{"id":"4ebcdc6b.290374","type":"cpu","z":"9e5a9985.856b48","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":457.5,"y":1189.75,"wires":[["de1f73d9.f7456"]]},{"id":"ee1cf38a.6b6e8","type":"vcgencmd","z":"9e5a9985.856b48","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":401.5,"y":300.75,"wires":[["e6796933.290018"]]},{"id":"ea70596e.5a5668","type":"Uptime","z":"9e5a9985.856b48","name":"","x":390.5,"y":1303.75,"wires":[["e631b6e.e9cd448"]]},{"id":"87a1b1bd.b6a53","type":"Memory","z":"9e5a9985.856b48","name":"","x":388.5,"y":414.75,"wires":[["51aa0693.54b1b8"]]},{"id":"3f3eeea6.9f2282","type":"inject","z":"9e5a9985.856b48","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":208.5,"y":1303.75,"wires":[["ea70596e.5a5668"]]},{"id":"e631b6e.e9cd448","type":"function","z":"9e5a9985.856b48","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":550.5,"y":1303.75,"wires":[["58f132ae.8e725c"]]},{"id":"51aa0693.54b1b8","type":"function","z":"9e5a9985.856b48","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":561.5,"y":414.75,"wires":[["eca91da9.b18d6"]]},{"id":"9e38bfc6.57aa","type":"function","z":"9e5a9985.856b48","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":603.5,"y":560.75,"wires":[["fda5399e.28f7d8"]]},{"id":"ab725bfc.0a3fc8","type":"function","z":"9e5a9985.856b48","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":591.5,"y":687.75,"wires":[["f3a7bdc5.637ad"]]},{"id":"e6796933.290018","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/temp","qos":"","retain":"","broker":"669a7128.2b8b","x":815.5,"y":298.75,"wires":[]},{"id":"de1f73d9.f7456","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/cpu","qos":"","retain":"","broker":"669a7128.2b8b","x":875.5,"y":1194.75,"wires":[]},{"id":"eca91da9.b18d6","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/mem","qos":"","retain":"","broker":"669a7128.2b8b","x":822.5,"y":414.75,"wires":[]},{"id":"fda5399e.28f7d8","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/undervoltage","qos":"","retain":"","broker":"669a7128.2b8b","x":856.5,"y":557.75,"wires":[]},{"id":"f3a7bdc5.637ad","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/throttle","qos":"","retain":"","broker":"669a7128.2b8b","x":823.5,"y":692.75,"wires":[]},{"id":"58f132ae.8e725c","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/uptime","qos":"","retain":"","broker":"669a7128.2b8b","x":812.5,"y":1306.75,"wires":[]},{"id":"5ea2c111.6ff18","type":"exec","z":"9e5a9985.856b48","command":"cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi signal","x":396,"y":826,"wires":[["fadc8acb.753e38"],[],[]]},{"id":"fadc8acb.753e38","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/wifi","qos":"","retain":"","broker":"669a7128.2b8b","x":786,"y":826,"wires":[]},{"id":"7213947.b71ff6c","type":"exec","z":"9e5a9985.856b48","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":527,"y":1422,"wires":[[],[],[]]},{"id":"73b05b1d.277c74","type":"exec","z":"9e5a9985.856b48","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":537,"y":1502,"wires":[[],[],[]]},{"id":"77a5a606.f25668","type":"mqtt in","z":"9e5a9985.856b48","name":"","topic":"Garage/system/reboot","qos":"2","datatype":"auto","broker":"669a7128.2b8b","x":237,"y":1422,"wires":[["7213947.b71ff6c"]]},{"id":"6d3d20d2.e4829","type":"mqtt in","z":"9e5a9985.856b48","name":"","topic":"Garage/system/shutdown","qos":"2","datatype":"auto","broker":"669a7128.2b8b","x":247,"y":1502,"wires":[["73b05b1d.277c74"]]},{"id":"87c9a2a4.9112a","type":"inject","z":"9e5a9985.856b48","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":137,"y":28,"wires":[["1c75e9f5.c6cbf6"]]},{"id":"1c75e9f5.c6cbf6","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/status","qos":"","retain":"","broker":"669a7128.2b8b","x":453,"y":39,"wires":[]},{"id":"302fb62c.a33dea","type":"exec","z":"9e5a9985.856b48","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":384,"y":997,"wires":[["36e40cf4.c5d694"],[],[]]},{"id":"36e40cf4.c5d694","type":"mqtt out","z":"9e5a9985.856b48","name":"","topic":"Garage/system/swap","qos":"","retain":"","broker":"669a7128.2b8b","x":794,"y":997,"wires":[]}]