Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Garage.json
[
    {
        "id": "9e5a9985.856b48",
        "type": "tab",
        "label": "Garage",
        "disabled": false,
        "info": ""
    },
    {
        "id": "669a7128.2b8b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Garage/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Garage/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Garage/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "878f36ba.188288",
        "type": "mqtt-broker",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Fien/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Fien/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Fien/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "65c54c44.33b3f4",
        "type": "rpi-ds18b20",
        "z": "9e5a9985.856b48",
        "topic": "",
        "array": false,
        "name": "",
        "x": 506,
        "y": 666,
        "wires": [
            [
                "94b309f3.ad6b48"
            ]
        ]
    },
    {
        "id": "b884174.6cbcae8",
        "type": "inject",
        "z": "9e5a9985.856b48",
        "name": "Elke minuut",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 124,
        "y": 608,
        "wires": [
            [
                "65c54c44.33b3f4",
                "ee1cf38a.6b6e8",
                "87a1b1bd.b6a53",
                "12bad196.6d2f0e",
                "5ea2c111.6ff18",
                "302fb62c.a33dea"
            ]
        ]
    },
    {
        "id": "94b309f3.ad6b48",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 864,
        "y": 666,
        "wires": []
    },
    {
        "id": "693dd017.9201b",
        "type": "inject",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 1188,
        "wires": [
            [
                "4ebcdc6b.290374"
            ]
        ]
    },
    {
        "id": "12bad196.6d2f0e",
        "type": "vcgencmd",
        "z": "9e5a9985.856b48",
        "name": "",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 396.5,
        "y": 479.75,
        "wires": [
            [
                "9e38bfc6.57aa",
                "ab725bfc.0a3fc8"
            ]
        ]
    },
    {
        "id": "4ebcdc6b.290374",
        "type": "cpu",
        "z": "9e5a9985.856b48",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 457.5,
        "y": 1189.75,
        "wires": [
            [
                "de1f73d9.f7456"
            ]
        ]
    },
    {
        "id": "ee1cf38a.6b6e8",
        "type": "vcgencmd",
        "z": "9e5a9985.856b48",
        "name": "",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 449.5,
        "y": 766.75,
        "wires": [
            [
                "e6796933.290018"
            ]
        ]
    },
    {
        "id": "ea70596e.5a5668",
        "type": "Uptime",
        "z": "9e5a9985.856b48",
        "name": "",
        "x": 390.5,
        "y": 1303.75,
        "wires": [
            [
                "e631b6e.e9cd448"
            ]
        ]
    },
    {
        "id": "87a1b1bd.b6a53",
        "type": "Memory",
        "z": "9e5a9985.856b48",
        "name": "",
        "x": 436.5,
        "y": 880.75,
        "wires": [
            [
                "51aa0693.54b1b8"
            ]
        ]
    },
    {
        "id": "3f3eeea6.9f2282",
        "type": "inject",
        "z": "9e5a9985.856b48",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 208.5,
        "y": 1303.75,
        "wires": [
            [
                "ea70596e.5a5668"
            ]
        ]
    },
    {
        "id": "e631b6e.e9cd448",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550.5,
        "y": 1303.75,
        "wires": [
            [
                "58f132ae.8e725c"
            ]
        ]
    },
    {
        "id": "51aa0693.54b1b8",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 609.5,
        "y": 880.75,
        "wires": [
            [
                "eca91da9.b18d6"
            ]
        ]
    },
    {
        "id": "9e38bfc6.57aa",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600.5,
        "y": 482.75,
        "wires": [
            [
                "fda5399e.28f7d8"
            ]
        ]
    },
    {
        "id": "ab725bfc.0a3fc8",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 611.5,
        "y": 554.75,
        "wires": [
            [
                "f3a7bdc5.637ad"
            ]
        ]
    },
    {
        "id": "e6796933.290018",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/temp",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 863.5,
        "y": 764.75,
        "wires": []
    },
    {
        "id": "de1f73d9.f7456",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 875.5,
        "y": 1194.75,
        "wires": []
    },
    {
        "id": "eca91da9.b18d6",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/mem",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 870.5,
        "y": 880.75,
        "wires": []
    },
    {
        "id": "fda5399e.28f7d8",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/undervoltage",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 853.5,
        "y": 479.75,
        "wires": []
    },
    {
        "id": "f3a7bdc5.637ad",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 843.5,
        "y": 559.75,
        "wires": []
    },
    {
        "id": "58f132ae.8e725c",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/uptime",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 812.5,
        "y": 1306.75,
        "wires": []
    },
    {
        "id": "5ea2c111.6ff18",
        "type": "exec",
        "z": "9e5a9985.856b48",
        "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Wifi signal",
        "x": 448,
        "y": 999,
        "wires": [
            [
                "fadc8acb.753e38"
            ],
            [],
            []
        ]
    },
    {
        "id": "fadc8acb.753e38",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/wifi",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 838,
        "y": 999,
        "wires": []
    },
    {
        "id": "7213947.b71ff6c",
        "type": "exec",
        "z": "9e5a9985.856b48",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 527,
        "y": 1422,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "73b05b1d.277c74",
        "type": "exec",
        "z": "9e5a9985.856b48",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 537,
        "y": 1502,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "77a5a606.f25668",
        "type": "mqtt in",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "669a7128.2b8b",
        "x": 237,
        "y": 1422,
        "wires": [
            [
                "7213947.b71ff6c"
            ]
        ]
    },
    {
        "id": "6d3d20d2.e4829",
        "type": "mqtt in",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "669a7128.2b8b",
        "x": 247,
        "y": 1502,
        "wires": [
            [
                "73b05b1d.277c74"
            ]
        ]
    },
    {
        "id": "87c9a2a4.9112a",
        "type": "inject",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "",
        "payload": "online",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 137,
        "y": 28,
        "wires": [
            [
                "1c75e9f5.c6cbf6"
            ]
        ]
    },
    {
        "id": "1c75e9f5.c6cbf6",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/status",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 453,
        "y": 39,
        "wires": []
    },
    {
        "id": "302fb62c.a33dea",
        "type": "exec",
        "z": "9e5a9985.856b48",
        "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap %",
        "x": 441,
        "y": 1090,
        "wires": [
            [
                "36e40cf4.c5d694"
            ],
            [],
            []
        ]
    },
    {
        "id": "36e40cf4.c5d694",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "Garage/system/swap",
        "qos": "",
        "retain": "",
        "broker": "669a7128.2b8b",
        "x": 851,
        "y": 1090,
        "wires": []
    },
    {
        "id": "69da41df.5087a",
        "type": "mqtt out",
        "z": "9e5a9985.856b48",
        "name": "Send Messages",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "669a7128.2b8b",
        "x": 806,
        "y": 240,
        "wires": []
    },
    {
        "id": "2cc4e585.f706ba",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "Format config messages binary sensors",
        "func": "var ident = \"garagepi\";\nvar name = \"GaragePi\";\nvar model = \"3A+\";\nvar manufact = \"DIY\";\n\nvar t = \"Garage/\";\nvar av_t = \"Garage/status\";\n\n// var name1 = \"Beweging Fien pir klein\";\n// var id1 = (name1.toLowerCase()).split(' ').join('_');\n// var config1 = {\n//     payload: {\n//         name: name1,\n//         uniq_id: id1,\n//         stat_t: t+\"input/ir_klein\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n// };\n// var name2 = \"Beweging Fien pir groot\";\n// var id2 = (name2.toLowerCase()).split(' ').join('_');\n// var config2 = {\n//     payload: {\n//         name: name2,\n//         uniq_id: id2,\n//         stat_t: t+\"input/pir_groot\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n// };\n// var name3 = \"Beweging Living Zero\";\n// var id3 = (name3.toLowerCase()).split(' ').join('_');\n// var config3 = {\n//     payload: {\n//         name: name3,\n//         uniq_id: id3,\n//         stat_t: t+\"input/pir\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n// };\nvar name4 = \"Garage throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Garage undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Garage online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config4, config5, config6];\n\n",
        "outputs": 3,
        "noerr": 0,
        "x": 459,
        "y": 169,
        "wires": [
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ]
        ]
    },
    {
        "id": "1cf6b8b4.b38617",
        "type": "inject",
        "z": "9e5a9985.856b48",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 144,
        "y": 250,
        "wires": [
            [
                "2cc4e585.f706ba",
                "ed92c3bb.537a6"
            ]
        ]
    },
    {
        "id": "ed92c3bb.537a6",
        "type": "function",
        "z": "9e5a9985.856b48",
        "name": "Format config messages sensors",
        "func": "var ident = \"garagepi\";\nvar name = \"GaragePi\";\nvar model = \"3A+\";\nvar manufact = \"DIY\";\n\nvar t = \"Garage/\";\nvar av_t = \"Garage/status\";\n\nvar name1 = \"Buitentemperatuur\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\n// var name2 = \"Luchtvochtigheid Fien\";\n// var id2 = (name2.toLowerCase()).split(' ').join('_');\n// var config2 = {\n//     payload: {\n//         name: name2,\n//         uniq_id: id2,\n//         stat_t: t+\"input/luchtvochtigheid\",\n//         avty_t: av_t,\n//         dev_cla: \"humidity\",\n//         unit_of_meas: \"%\",\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n// };\nvar name3 = \"Temperatuur cpu Garage\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu Garage\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram Garage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap Garage\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime Garage\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\nvar name8 = \"Wifi Garage\";\nvar id8 = (name8.toLowerCase()).split(' ').join('_');\nvar config8 = {\n    payload: {\n        name: name8,\n        uniq_id: id8,\n        stat_t: t+\"system/wifi\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:wifi-strength-2\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n};\nreturn [config1, config3, config4, config5, config6, config7, config8];\n",
        "outputs": 7,
        "noerr": 0,
        "x": 461,
        "y": 336,
        "wires": [
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ],
            [
                "69da41df.5087a"
            ]
        ]
    }
]