Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Keuken.json
[
    {
        "id": "3f1d0640.5e6aba",
        "type": "tab",
        "label": "Keuken",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34844a19.ca7f36",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Keuken/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Keuken/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Keuken/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "84591deb.3bb73",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "PoortjePi/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "PoortjePi/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "PoortjePi/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "d09e32d2.beb46",
        "type": "mqtt-broker",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "PoortjePi/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "PoortjePi/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "PoortjePi/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "8490eb70.6041b8",
        "type": "rpi-gpio in",
        "z": "3f1d0640.5e6aba",
        "name": "Pin 15 pir klein",
        "pin": "15",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 400,
        "y": 601,
        "wires": [
            [
                "68a11bb2.0324b4"
            ]
        ]
    },
    {
        "id": "68a11bb2.0324b4",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "MQTT pir klein",
        "topic": "Keuken/input/pir_klein",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 822,
        "y": 605,
        "wires": []
    },
    {
        "id": "698c990c.10b308",
        "type": "inject",
        "z": "3f1d0640.5e6aba",
        "name": "Elke minuut",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 133.5,
        "y": 780,
        "wires": [
            [
                "f9c095ff.8c05b8",
                "6ce75e6c.6f8bb",
                "508bad80.ca2184",
                "cbef94d0.bbd068",
                "c9a5c605.9786f8",
                "1fe4d0b.c2a7d2f",
                "e98e2773.4d3618"
            ]
        ]
    },
    {
        "id": "c1a06181.5a27",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "MQTT DHT temperatuur",
        "topic": "Keuken/input/temperatuur-dht",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 850.5,
        "y": 842,
        "wires": []
    },
    {
        "id": "a678034c.a4664",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 573.5,
        "y": 841,
        "wires": [
            [
                "c1a06181.5a27"
            ]
        ]
    },
    {
        "id": "e201a0ad.23215",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 572.5,
        "y": 910,
        "wires": [
            [
                "a3a0070.82797f8"
            ]
        ]
    },
    {
        "id": "a3a0070.82797f8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "Keuken/input/luchtvochtigheid-dht",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 854.5,
        "y": 909,
        "wires": []
    },
    {
        "id": "915ed0c5.b71a5",
        "type": "rpi-gpio in",
        "z": "3f1d0640.5e6aba",
        "name": "Pin 13 pir groot",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 402,
        "y": 528,
        "wires": [
            [
                "254fa09c.7e53f"
            ]
        ]
    },
    {
        "id": "254fa09c.7e53f",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "MQTT pir groot",
        "topic": "Keuken/input/pir_groot",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 827,
        "y": 529,
        "wires": []
    },
    {
        "id": "f9c095ff.8c05b8",
        "type": "rpi-dht22",
        "z": "3f1d0640.5e6aba",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "7",
        "x": 372.5,
        "y": 844,
        "wires": [
            [
                "a678034c.a4664",
                "e201a0ad.23215"
            ]
        ]
    },
    {
        "id": "7768a0ec.6c82d",
        "type": "inject",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 199,
        "y": 1490.25,
        "wires": [
            [
                "4ee51fe5.76063"
            ]
        ]
    },
    {
        "id": "cbef94d0.bbd068",
        "type": "vcgencmd",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 401.5,
        "y": 669,
        "wires": [
            [
                "d058f02f.aca7",
                "80538fc8.b3d79"
            ]
        ]
    },
    {
        "id": "4ee51fe5.76063",
        "type": "cpu",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 441.5,
        "y": 1489,
        "wires": [
            [
                "23aeb675.efb2aa"
            ]
        ]
    },
    {
        "id": "6ce75e6c.6f8bb",
        "type": "vcgencmd",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 428.5,
        "y": 1189,
        "wires": [
            [
                "cb895ad8.ceeac8"
            ]
        ]
    },
    {
        "id": "c2428ff9.01a17",
        "type": "Uptime",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "x": 384.5,
        "y": 1593,
        "wires": [
            [
                "b12b18d0.829898"
            ]
        ]
    },
    {
        "id": "508bad80.ca2184",
        "type": "Memory",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "x": 410.5,
        "y": 1255,
        "wires": [
            [
                "f5144d9b.17cde"
            ]
        ]
    },
    {
        "id": "89b93837.56ed38",
        "type": "inject",
        "z": "3f1d0640.5e6aba",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 202.5,
        "y": 1593,
        "wires": [
            [
                "c2428ff9.01a17"
            ]
        ]
    },
    {
        "id": "b12b18d0.829898",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 544.5,
        "y": 1593,
        "wires": [
            [
                "ad40da98.201778"
            ]
        ]
    },
    {
        "id": "f5144d9b.17cde",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 583.5,
        "y": 1255,
        "wires": [
            [
                "df9954ba.2329e8"
            ]
        ]
    },
    {
        "id": "d058f02f.aca7",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605.5,
        "y": 672,
        "wires": [
            [
                "2ab55fad.dad13"
            ]
        ]
    },
    {
        "id": "80538fc8.b3d79",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602.5,
        "y": 739,
        "wires": [
            [
                "cc135a72.b24498"
            ]
        ]
    },
    {
        "id": "cb895ad8.ceeac8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/temp",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 842.5,
        "y": 1187,
        "wires": []
    },
    {
        "id": "23aeb675.efb2aa",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 859.5,
        "y": 1494,
        "wires": []
    },
    {
        "id": "df9954ba.2329e8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/mem",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 844.5,
        "y": 1255,
        "wires": []
    },
    {
        "id": "2ab55fad.dad13",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/undervoltage",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 858.5,
        "y": 669,
        "wires": []
    },
    {
        "id": "cc135a72.b24498",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 834.5,
        "y": 744,
        "wires": []
    },
    {
        "id": "ad40da98.201778",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/uptime",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 816.5,
        "y": 1596,
        "wires": []
    },
    {
        "id": "c9a5c605.9786f8",
        "type": "exec",
        "z": "3f1d0640.5e6aba",
        "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Wifi signal",
        "x": 450,
        "y": 1322.25,
        "wires": [
            [
                "e98b743e.cb87d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e98b743e.cb87d8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/wifi",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 840,
        "y": 1322.25,
        "wires": []
    },
    {
        "id": "51d216e4.a797c8",
        "type": "exec",
        "z": "3f1d0640.5e6aba",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 535,
        "y": 1712.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bc3fb809.10ce18",
        "type": "exec",
        "z": "3f1d0640.5e6aba",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 532,
        "y": 1792.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "22c2919f.3bd0be",
        "type": "mqtt in",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "34844a19.ca7f36",
        "x": 232,
        "y": 1712.25,
        "wires": [
            [
                "51d216e4.a797c8"
            ]
        ]
    },
    {
        "id": "45a803b7.65229c",
        "type": "mqtt in",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "34844a19.ca7f36",
        "x": 242,
        "y": 1792.25,
        "wires": [
            [
                "bc3fb809.10ce18"
            ]
        ]
    },
    {
        "id": "d3e84947.24f5c8",
        "type": "inject",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "",
        "payload": "online",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 451,
        "y": 41,
        "wires": [
            [
                "66232337.55404c"
            ]
        ]
    },
    {
        "id": "66232337.55404c",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/status",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 687,
        "y": 39,
        "wires": []
    },
    {
        "id": "1fe4d0b.c2a7d2f",
        "type": "exec",
        "z": "3f1d0640.5e6aba",
        "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap %",
        "x": 437,
        "y": 1416,
        "wires": [
            [
                "d55d0075.2b0ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "d55d0075.2b0ca",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/system/swap",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 848,
        "y": 1421,
        "wires": []
    },
    {
        "id": "38b5b0ab.8cc41",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 853,
        "y": 970,
        "wires": []
    },
    {
        "id": "58d0c514.7da3ec",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/input/luchtvochtigheid",
        "qos": "",
        "retain": "true",
        "broker": "34844a19.ca7f36",
        "x": 863,
        "y": 1010,
        "wires": []
    },
    {
        "id": "12b43ce6.903eb3",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/input/heatindex",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 843,
        "y": 1050,
        "wires": []
    },
    {
        "id": "62702850.c778f8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/input/dewpoint",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 843,
        "y": 1090,
        "wires": []
    },
    {
        "id": "863457ee.5ac1e8",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "Keuken/input/pressure",
        "qos": "",
        "retain": "",
        "broker": "34844a19.ca7f36",
        "x": 833,
        "y": 1130,
        "wires": []
    },
    {
        "id": "54de2761.df7788",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Temperatuur",
        "func": "msg.payload = msg.payload.temperature_C\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 603,
        "y": 970,
        "wires": [
            [
                "38b5b0ab.8cc41"
            ]
        ]
    },
    {
        "id": "31beb7c7.779d98",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Luchtvochtigheid",
        "func": "msg.payload = parseFloat(msg.payload.humidity.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 623,
        "y": 1010,
        "wires": [
            [
                "58d0c514.7da3ec"
            ]
        ]
    },
    {
        "id": "1a36f6ff.9272c9",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "HeatIndex",
        "func": "msg.payload = parseFloat(msg.payload.heatIndex.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 603,
        "y": 1050,
        "wires": [
            [
                "12b43ce6.903eb3"
            ]
        ]
    },
    {
        "id": "ad1ce43.a863a18",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Dauwpunt",
        "func": "msg.payload = parseFloat(msg.payload.dewPoint_C.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 603,
        "y": 1090,
        "wires": [
            [
                "62702850.c778f8"
            ]
        ]
    },
    {
        "id": "1aabf415.7eddbc",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Luchtdruk",
        "func": "msg.payload = parseFloat(msg.payload.pressure_hPa.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 593,
        "y": 1130,
        "wires": [
            [
                "863457ee.5ac1e8"
            ]
        ]
    },
    {
        "id": "e98e2773.4d3618",
        "type": "Bme280",
        "z": "3f1d0640.5e6aba",
        "name": "BME280",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280",
        "extra": true,
        "x": 393,
        "y": 1030,
        "wires": [
            [
                "54de2761.df7788",
                "31beb7c7.779d98",
                "1a36f6ff.9272c9",
                "ad1ce43.a863a18",
                "1aabf415.7eddbc"
            ]
        ]
    },
    {
        "id": "25d1697e.d81fe6",
        "type": "mqtt out",
        "z": "3f1d0640.5e6aba",
        "name": "Send Messages",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "34844a19.ca7f36",
        "x": 826,
        "y": 289,
        "wires": []
    },
    {
        "id": "2082ddac.7b7672",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Format config messages binary sensors",
        "func": "var ident = \"keukenpi\";\nvar name = \"KeukenPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"Keuken/\";\nvar av_t = \"Keuken/status\";\n\nvar name1 = \"Beweging Keuken pir groot\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/pir_groot\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Beweging Keuken pir klein\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/pir_klein\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Beweging Keuken Camera\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"motion\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: \"FALSE\",\n        pl_on: \"TRUE\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Keuken throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Keuken undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Keuken online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config1, config2, config3, config4, config5, config6];\n\n",
        "outputs": 6,
        "noerr": 0,
        "x": 474,
        "y": 202,
        "wires": [
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ]
        ]
    },
    {
        "id": "1ec1471a.f824e9",
        "type": "inject",
        "z": "3f1d0640.5e6aba",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 147,
        "y": 297,
        "wires": [
            [
                "2082ddac.7b7672",
                "5fdbf959.910bb8"
            ]
        ]
    },
    {
        "id": "5fdbf959.910bb8",
        "type": "function",
        "z": "3f1d0640.5e6aba",
        "name": "Format config messages sensors",
        "func": "var ident = \"keukenpi\";\nvar name = \"KeukenPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"Keuken/\";\nvar av_t = \"Keuken/status\";\n\nvar name1 = \"Temperatuur Keuken\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Luchtvochtigheid Keuken\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/luchtvochtigheid\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Temperatuur cpu Keuken\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu Keuken\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram Keuken\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap Keuken\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime Keuken\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\nvar name8 = \"Wifi Keuken\";\nvar id8 = (name8.toLowerCase()).split(' ').join('_');\nvar config8 = {\n    payload: {\n        name: name8,\n        uniq_id: id8,\n        stat_t: t+\"system/wifi\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:wifi-strength-2\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n};\nvar name9 = \"Temperatuur keuken dht\";\nvar id9 = (name9.toLowerCase()).split(' ').join('_');\nvar config9 = {\n    payload: {\n        name: name9,\n        uniq_id: id9,\n        stat_t: t+\"input/temperatuur-dht\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id9+\"/config\"\n};\nvar name10 = \"Luchtvochtigheid keuken dht\";\nvar id10 = (name10.toLowerCase()).split(' ').join('_');\nvar config10 = {\n    payload: {\n        name: name10,\n        uniq_id: id10,\n        stat_t: t+\"input/luchtvochtigheid-dht\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id10+\"/config\"\n};\nvar name11 = \"Gevoelstemperatuur keuken\";\nvar id11 = (name11.toLowerCase()).split(' ').join('_');\nvar config11 = {\n    payload: {\n        name: name11,\n        uniq_id: id11,\n        stat_t: t+\"input/heatindex\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        ic: \"mdi:thermometer-alert\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id11+\"/config\"\n};\nvar name12 = \"Dauwpunt keuken\";\nvar id12 = (name12.toLowerCase()).split(' ').join('_');\nvar config12 = {\n    payload: {\n        name: name12,\n        uniq_id: id12,\n        stat_t: t+\"input/dewpoint\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        ic: \"mdi:thermometer-alert\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id12+\"/config\"\n};\nvar name13 = \"Luchtdruk keuken\";\nvar id13 = (name13.toLowerCase()).split(' ').join('_');\nvar config13 = {\n    payload: {\n        name: name13,\n        uniq_id: id13,\n        stat_t: t+\"input/pressure\",\n        avty_t: av_t,\n        dev_cla: \"pressure\",\n        unit_of_meas: \"hPa\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id13+\"/config\"\n};\n\nreturn [config1, config2, config3, config4, config5, config6, config7, config8, config9, config10, config11, config12, config13];\n",
        "outputs": 13,
        "noerr": 0,
        "x": 481,
        "y": 385,
        "wires": [
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ],
            [
                "25d1697e.d81fe6"
            ]
        ]
    }
]