Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Keuken.json
[{"id":"3f1d0640.5e6aba","type":"tab","label":"Keuken","disabled":false,"info":""},{"id":"34844a19.ca7f36","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Keuken/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Keuken/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Keuken/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"8490eb70.6041b8","type":"rpi-gpio in","z":"3f1d0640.5e6aba","name":"Pin 15 pir klein","pin":"15","intype":"tri","debounce":"25","read":false,"x":172,"y":138,"wires":[["68a11bb2.0324b4"]]},{"id":"68a11bb2.0324b4","type":"mqtt out","z":"3f1d0640.5e6aba","name":"MQTT pir klein","topic":"Keuken/input/pir_klein","qos":"","retain":"","broker":"34844a19.ca7f36","x":594,"y":142,"wires":[]},{"id":"698c990c.10b308","type":"inject","z":"3f1d0640.5e6aba","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":133.5,"y":780,"wires":[["f9c095ff.8c05b8","6ce75e6c.6f8bb","508bad80.ca2184","cbef94d0.bbd068","c9a5c605.9786f8","1fe4d0b.c2a7d2f"]]},{"id":"c1a06181.5a27","type":"mqtt out","z":"3f1d0640.5e6aba","name":"MQTT DHT temperatuur","topic":"Keuken/input/temperatuur","qos":"","retain":"","broker":"34844a19.ca7f36","x":824.5,"y":288,"wires":[]},{"id":"a678034c.a4664","type":"function","z":"3f1d0640.5e6aba","name":"temperatuur","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":547.5,"y":287,"wires":[["c1a06181.5a27"]]},{"id":"e201a0ad.23215","type":"function","z":"3f1d0640.5e6aba","name":"luchtvochtigheid","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":549.5,"y":414,"wires":[["a3a0070.82797f8"]]},{"id":"a3a0070.82797f8","type":"mqtt out","z":"3f1d0640.5e6aba","name":"MQTT DHT luchtvochtigheid","topic":"Keuken/input/luchtvochtigheid","qos":"","retain":"","broker":"34844a19.ca7f36","x":831.5,"y":413,"wires":[]},{"id":"915ed0c5.b71a5","type":"rpi-gpio in","z":"3f1d0640.5e6aba","name":"Pin 13 pir groot","pin":"13","intype":"tri","debounce":"25","read":false,"x":174,"y":65,"wires":[["254fa09c.7e53f"]]},{"id":"254fa09c.7e53f","type":"mqtt out","z":"3f1d0640.5e6aba","name":"MQTT pir groot","topic":"Keuken/input/pir_groot","qos":"","retain":"","broker":"34844a19.ca7f36","x":599,"y":66,"wires":[]},{"id":"f9c095ff.8c05b8","type":"rpi-dht22","z":"3f1d0640.5e6aba","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":346.5,"y":290,"wires":[["a678034c.a4664","e201a0ad.23215"]]},{"id":"7768a0ec.6c82d","type":"inject","z":"3f1d0640.5e6aba","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":199,"y":1490.25,"wires":[["4ee51fe5.76063"]]},{"id":"cbef94d0.bbd068","type":"vcgencmd","z":"3f1d0640.5e6aba","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":406.5,"y":833,"wires":[["d058f02f.aca7","80538fc8.b3d79"]]},{"id":"4ee51fe5.76063","type":"cpu","z":"3f1d0640.5e6aba","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":441.5,"y":1489,"wires":[["23aeb675.efb2aa"]]},{"id":"6ce75e6c.6f8bb","type":"vcgencmd","z":"3f1d0640.5e6aba","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":417.5,"y":548,"wires":[["cb895ad8.ceeac8"]]},{"id":"c2428ff9.01a17","type":"Uptime","z":"3f1d0640.5e6aba","name":"","x":384.5,"y":1593,"wires":[["b12b18d0.829898"]]},{"id":"508bad80.ca2184","type":"Memory","z":"3f1d0640.5e6aba","name":"","x":395.5,"y":690,"wires":[["f5144d9b.17cde"]]},{"id":"89b93837.56ed38","type":"inject","z":"3f1d0640.5e6aba","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":202.5,"y":1593,"wires":[["c2428ff9.01a17"]]},{"id":"b12b18d0.829898","type":"function","z":"3f1d0640.5e6aba","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":544.5,"y":1593,"wires":[["ad40da98.201778"]]},{"id":"f5144d9b.17cde","type":"function","z":"3f1d0640.5e6aba","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":568.5,"y":690,"wires":[["df9954ba.2329e8"]]},{"id":"d058f02f.aca7","type":"function","z":"3f1d0640.5e6aba","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":610.5,"y":836,"wires":[["2ab55fad.dad13"]]},{"id":"80538fc8.b3d79","type":"function","z":"3f1d0640.5e6aba","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":598.5,"y":963,"wires":[["cc135a72.b24498"]]},{"id":"cb895ad8.ceeac8","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/temp","qos":"","retain":"","broker":"34844a19.ca7f36","x":831.5,"y":546,"wires":[]},{"id":"23aeb675.efb2aa","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/cpu","qos":"","retain":"","broker":"34844a19.ca7f36","x":859.5,"y":1494,"wires":[]},{"id":"df9954ba.2329e8","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/mem","qos":"","retain":"","broker":"34844a19.ca7f36","x":829.5,"y":690,"wires":[]},{"id":"2ab55fad.dad13","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/undervoltage","qos":"","retain":"","broker":"34844a19.ca7f36","x":863.5,"y":833,"wires":[]},{"id":"cc135a72.b24498","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/throttle","qos":"","retain":"","broker":"34844a19.ca7f36","x":830.5,"y":968,"wires":[]},{"id":"ad40da98.201778","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/uptime","qos":"","retain":"","broker":"34844a19.ca7f36","x":816.5,"y":1596,"wires":[]},{"id":"c9a5c605.9786f8","type":"exec","z":"3f1d0640.5e6aba","command":"cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi signal","x":398,"y":1104.25,"wires":[["e98b743e.cb87d8"],[],[]]},{"id":"e98b743e.cb87d8","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/wifi","qos":"","retain":"","broker":"34844a19.ca7f36","x":788,"y":1104.25,"wires":[]},{"id":"51d216e4.a797c8","type":"exec","z":"3f1d0640.5e6aba","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":535,"y":1712.25,"wires":[[],[],[]]},{"id":"bc3fb809.10ce18","type":"exec","z":"3f1d0640.5e6aba","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":532,"y":1792.25,"wires":[[],[],[]]},{"id":"22c2919f.3bd0be","type":"mqtt in","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/reboot","qos":"2","datatype":"auto","broker":"34844a19.ca7f36","x":232,"y":1712.25,"wires":[["51d216e4.a797c8"]]},{"id":"45a803b7.65229c","type":"mqtt in","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/shutdown","qos":"2","datatype":"auto","broker":"34844a19.ca7f36","x":242,"y":1792.25,"wires":[["bc3fb809.10ce18"]]},{"id":"d3e84947.24f5c8","type":"inject","z":"3f1d0640.5e6aba","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":215,"wires":[["66232337.55404c"]]},{"id":"66232337.55404c","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/status","qos":"","retain":"","broker":"34844a19.ca7f36","x":363,"y":213,"wires":[]},{"id":"1fe4d0b.c2a7d2f","type":"exec","z":"3f1d0640.5e6aba","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":383,"y":1277,"wires":[["d55d0075.2b0ca"],[],[]]},{"id":"d55d0075.2b0ca","type":"mqtt out","z":"3f1d0640.5e6aba","name":"","topic":"Keuken/system/swap","qos":"","retain":"","broker":"34844a19.ca7f36","x":793,"y":1277,"wires":[]}]