Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/LivingPi.json
[
    {
        "id": "47f701cb.f5e21",
        "type": "tab",
        "label": "Living/pi3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a6fcf5.5a8783",
        "type": "inject",
        "z": "47f701cb.f5e21",
        "name": "Elke minuut",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 151.5,
        "y": 247,
        "wires": [
            [
                "e419194b.996868"
            ]
        ]
    },
    {
        "id": "1cce5ac2.be6235",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "MQTT DHT temperatuur",
        "topic": "Living/pi3/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 803.5,
        "y": 245,
        "wires": []
    },
    {
        "id": "a5ed8961.645e38",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 518.5,
        "y": 178,
        "wires": []
    },
    {
        "id": "7a270586.8eee2c",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 526.5,
        "y": 244,
        "wires": [
            [
                "8cb0a9ba.642f48",
                "1cce5ac2.be6235"
            ]
        ]
    },
    {
        "id": "2a6febec.1fa1f4",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528.5,
        "y": 371,
        "wires": [
            [
                "f77f64a3.496c08",
                "60cb7636.a84268"
            ]
        ]
    },
    {
        "id": "8cb0a9ba.642f48",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 762.5,
        "y": 313,
        "wires": []
    },
    {
        "id": "f77f64a3.496c08",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760.5,
        "y": 444,
        "wires": []
    },
    {
        "id": "60cb7636.a84268",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "Living/pi3/input/luchtvochtigheid",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 810.5,
        "y": 370,
        "wires": []
    },
    {
        "id": "106d1110.a2239f",
        "type": "rpi-gpio in",
        "z": "47f701cb.f5e21",
        "name": "Pin 13 pir groot",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 212,
        "y": 109,
        "wires": [
            [
                "51cae843.87a368"
            ]
        ]
    },
    {
        "id": "51cae843.87a368",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "MQTT pir pi3",
        "topic": "Living/pi3/input/pir",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 652,
        "y": 89,
        "wires": []
    },
    {
        "id": "e419194b.996868",
        "type": "rpi-dht22",
        "z": "47f701cb.f5e21",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "7",
        "x": 325.5,
        "y": 247,
        "wires": [
            [
                "a5ed8961.645e38",
                "7a270586.8eee2c",
                "2a6febec.1fa1f4"
            ]
        ]
    },
    {
        "id": "c8011546.193408",
        "type": "inject",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 134,
        "y": 559.25,
        "wires": [
            [
                "bf131e50.8eb19",
                "10e681d0.56f7ee",
                "c3452d1d.28da5",
                "52aa61ae.44cd"
            ]
        ]
    },
    {
        "id": "bf131e50.8eb19",
        "type": "vcgencmd",
        "z": "47f701cb.f5e21",
        "name": "",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 379.5,
        "y": 915,
        "wires": [
            [
                "85f14f35.e7012",
                "b22b0a5c.49f338"
            ]
        ]
    },
    {
        "id": "c1b9c76d.9635e8",
        "type": "cpu",
        "z": "47f701cb.f5e21",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 372.5,
        "y": 625,
        "wires": [
            [
                "e7445d33.f6327",
                "50654a2a.0f35c4"
            ]
        ]
    },
    {
        "id": "e7445d33.f6327",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 763.5,
        "y": 672,
        "wires": []
    },
    {
        "id": "1011486e.c97198",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 769.5,
        "y": 987,
        "wires": []
    },
    {
        "id": "10e681d0.56f7ee",
        "type": "vcgencmd",
        "z": "47f701cb.f5e21",
        "name": "",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 384.5,
        "y": 518,
        "wires": [
            [
                "7b1900f8.62795",
                "6bd5c7ee.57ec58"
            ]
        ]
    },
    {
        "id": "7b1900f8.62795",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 768.5,
        "y": 570,
        "wires": []
    },
    {
        "id": "362a04bc.7536bc",
        "type": "Uptime",
        "z": "47f701cb.f5e21",
        "name": "",
        "x": 363.5,
        "y": 1191,
        "wires": [
            [
                "cd7b9adc.96d308"
            ]
        ]
    },
    {
        "id": "c3452d1d.28da5",
        "type": "Memory",
        "z": "47f701cb.f5e21",
        "name": "",
        "x": 368.5,
        "y": 772,
        "wires": [
            [
                "dedf94e7.725398"
            ]
        ]
    },
    {
        "id": "600cc12b.67175",
        "type": "inject",
        "z": "47f701cb.f5e21",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 181.5,
        "y": 1191,
        "wires": [
            [
                "362a04bc.7536bc"
            ]
        ]
    },
    {
        "id": "cd7b9adc.96d308",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 523.5,
        "y": 1191,
        "wires": [
            [
                "5633c2e.8914a3c",
                "92e9dd50.f6bcc"
            ]
        ]
    },
    {
        "id": "dedf94e7.725398",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 541.5,
        "y": 772,
        "wires": [
            [
                "1a240584.175d1a",
                "ca82d7e2.9a0cf8"
            ]
        ]
    },
    {
        "id": "5633c2e.8914a3c",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 738.5,
        "y": 1252,
        "wires": []
    },
    {
        "id": "1a240584.175d1a",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 774.5,
        "y": 846,
        "wires": []
    },
    {
        "id": "85f14f35.e7012",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 583.5,
        "y": 918,
        "wires": [
            [
                "1011486e.c97198",
                "df80628a.efe3a"
            ]
        ]
    },
    {
        "id": "b22b0a5c.49f338",
        "type": "function",
        "z": "47f701cb.f5e21",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 571.5,
        "y": 1045,
        "wires": [
            [
                "2f1f6232.5b59ce",
                "e52d71e0.7a6f"
            ]
        ]
    },
    {
        "id": "2f1f6232.5b59ce",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 752.5,
        "y": 1116,
        "wires": []
    },
    {
        "id": "6bd5c7ee.57ec58",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/temp",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 808.5,
        "y": 516,
        "wires": []
    },
    {
        "id": "50654a2a.0f35c4",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 790.5,
        "y": 630,
        "wires": []
    },
    {
        "id": "ca82d7e2.9a0cf8",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/mem",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 812.5,
        "y": 772,
        "wires": []
    },
    {
        "id": "df80628a.efe3a",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/undervoltage",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 846.5,
        "y": 915,
        "wires": []
    },
    {
        "id": "e52d71e0.7a6f",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 803.5,
        "y": 1050,
        "wires": []
    },
    {
        "id": "92e9dd50.f6bcc",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/uptime",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 795.5,
        "y": 1194,
        "wires": []
    },
    {
        "id": "68ee6c3e.ed0824",
        "type": "inject",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 117.5,
        "y": 718,
        "wires": [
            [
                "c1b9c76d.9635e8"
            ]
        ]
    },
    {
        "id": "ec8ff42d.23e0b8",
        "type": "debug",
        "z": "47f701cb.f5e21",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 734,
        "y": 1419.25,
        "wires": []
    },
    {
        "id": "52aa61ae.44cd",
        "type": "exec",
        "z": "47f701cb.f5e21",
        "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Wifi signal",
        "x": 374,
        "y": 1359.25,
        "wires": [
            [
                "ec8ff42d.23e0b8",
                "c905a4ee.77d728"
            ],
            [],
            []
        ]
    },
    {
        "id": "c905a4ee.77d728",
        "type": "mqtt out",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/wifi",
        "qos": "",
        "retain": "",
        "broker": "75850069.5261b",
        "x": 774,
        "y": 1359.25,
        "wires": []
    },
    {
        "id": "a2fac073.0796e",
        "type": "exec",
        "z": "47f701cb.f5e21",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 504,
        "y": 1479.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e898fd06.e6bf9",
        "type": "exec",
        "z": "47f701cb.f5e21",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 514,
        "y": 1559.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b5bc96.ae941368",
        "type": "mqtt in",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "75850069.5261b",
        "x": 224,
        "y": 1479.25,
        "wires": [
            [
                "a2fac073.0796e"
            ]
        ]
    },
    {
        "id": "a826bc6.543a14",
        "type": "mqtt in",
        "z": "47f701cb.f5e21",
        "name": "",
        "topic": "Living/pi3/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "75850069.5261b",
        "x": 234,
        "y": 1559.25,
        "wires": [
            [
                "e898fd06.e6bf9"
            ]
        ]
    },
    {
        "id": "75850069.5261b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Living/pi3/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Living/pi3/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Living/pi3/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    }
]