Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/LivingPi.json
[{"id":"47f701cb.f5e21","type":"tab","label":"Living/pi3","disabled":false,"info":""},{"id":"75850069.5261b","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Living/pi3/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Living/pi3/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Living/pi3/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"9a6fcf5.5a8783","type":"inject","z":"47f701cb.f5e21","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":115.5,"y":751,"wires":[["e419194b.996868","10e681d0.56f7ee","c3452d1d.28da5","bf131e50.8eb19","52aa61ae.44cd","676f83da.50ecec"]]},{"id":"1cce5ac2.be6235","type":"mqtt out","z":"47f701cb.f5e21","name":"MQTT DHT temperatuur","topic":"Living/pi3/input/temperatuur","qos":"","retain":"","broker":"75850069.5261b","x":803.5,"y":245,"wires":[]},{"id":"7a270586.8eee2c","type":"function","z":"47f701cb.f5e21","name":"temperatuur","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":244,"wires":[["1cce5ac2.be6235"]]},{"id":"2a6febec.1fa1f4","type":"function","z":"47f701cb.f5e21","name":"luchtvochtigheid","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":528.5,"y":371,"wires":[["60cb7636.a84268"]]},{"id":"60cb7636.a84268","type":"mqtt out","z":"47f701cb.f5e21","name":"MQTT DHT luchtvochtigheid","topic":"Living/pi3/input/luchtvochtigheid","qos":"","retain":"","broker":"75850069.5261b","x":810.5,"y":370,"wires":[]},{"id":"106d1110.a2239f","type":"rpi-gpio in","z":"47f701cb.f5e21","name":"Pin 13 pir groot","pin":"13","intype":"tri","debounce":"25","read":false,"x":212,"y":109,"wires":[["51cae843.87a368"]]},{"id":"51cae843.87a368","type":"mqtt out","z":"47f701cb.f5e21","name":"MQTT pir pi3","topic":"Living/pi3/input/pir","qos":"","retain":"","broker":"75850069.5261b","x":652,"y":89,"wires":[]},{"id":"e419194b.996868","type":"rpi-dht22","z":"47f701cb.f5e21","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":325.5,"y":247,"wires":[["7a270586.8eee2c","2a6febec.1fa1f4"]]},{"id":"c8011546.193408","type":"inject","z":"47f701cb.f5e21","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":177,"y":1382.25,"wires":[["c1b9c76d.9635e8"]]},{"id":"bf131e50.8eb19","type":"vcgencmd","z":"47f701cb.f5e21","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":370.5,"y":764,"wires":[["85f14f35.e7012","b22b0a5c.49f338"]]},{"id":"c1b9c76d.9635e8","type":"cpu","z":"47f701cb.f5e21","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":427.5,"y":1384,"wires":[["50654a2a.0f35c4"]]},{"id":"10e681d0.56f7ee","type":"vcgencmd","z":"47f701cb.f5e21","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":384.5,"y":518,"wires":[["6bd5c7ee.57ec58"]]},{"id":"362a04bc.7536bc","type":"Uptime","z":"47f701cb.f5e21","name":"","x":353.5,"y":1540,"wires":[["cd7b9adc.96d308"]]},{"id":"c3452d1d.28da5","type":"Memory","z":"47f701cb.f5e21","name":"","x":359.5,"y":621,"wires":[["dedf94e7.725398"]]},{"id":"600cc12b.67175","type":"inject","z":"47f701cb.f5e21","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":171.5,"y":1540,"wires":[["362a04bc.7536bc"]]},{"id":"cd7b9adc.96d308","type":"function","z":"47f701cb.f5e21","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":1540,"wires":[["92e9dd50.f6bcc"]]},{"id":"dedf94e7.725398","type":"function","z":"47f701cb.f5e21","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":532.5,"y":621,"wires":[["ca82d7e2.9a0cf8"]]},{"id":"85f14f35.e7012","type":"function","z":"47f701cb.f5e21","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":767,"wires":[["df80628a.efe3a"]]},{"id":"b22b0a5c.49f338","type":"function","z":"47f701cb.f5e21","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":562.5,"y":894,"wires":[["e52d71e0.7a6f"]]},{"id":"6bd5c7ee.57ec58","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/temp","qos":"","retain":"","broker":"75850069.5261b","x":808.5,"y":516,"wires":[]},{"id":"50654a2a.0f35c4","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/cpu","qos":"","retain":"","broker":"75850069.5261b","x":845.5,"y":1389,"wires":[]},{"id":"ca82d7e2.9a0cf8","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/mem","qos":"","retain":"","broker":"75850069.5261b","x":803.5,"y":621,"wires":[]},{"id":"df80628a.efe3a","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/undervoltage","qos":"","retain":"","broker":"75850069.5261b","x":837.5,"y":764,"wires":[]},{"id":"e52d71e0.7a6f","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/throttle","qos":"","retain":"","broker":"75850069.5261b","x":794.5,"y":899,"wires":[]},{"id":"92e9dd50.f6bcc","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/uptime","qos":"","retain":"","broker":"75850069.5261b","x":785.5,"y":1543,"wires":[]},{"id":"52aa61ae.44cd","type":"exec","z":"47f701cb.f5e21","command":"cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Wifi signal","x":370,"y":1029.25,"wires":[["c905a4ee.77d728"],[],[]]},{"id":"c905a4ee.77d728","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/wifi","qos":"","retain":"","broker":"75850069.5261b","x":770,"y":1029.25,"wires":[]},{"id":"a2fac073.0796e","type":"exec","z":"47f701cb.f5e21","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":478,"y":1684.25,"wires":[[],[],[]]},{"id":"e898fd06.e6bf9","type":"exec","z":"47f701cb.f5e21","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":488,"y":1764.25,"wires":[[],[],[]]},{"id":"b5bc96.ae941368","type":"mqtt in","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/reboot","qos":"2","datatype":"auto","broker":"75850069.5261b","x":198,"y":1684.25,"wires":[["a2fac073.0796e"]]},{"id":"a826bc6.543a14","type":"mqtt in","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/shutdown","qos":"2","datatype":"auto","broker":"75850069.5261b","x":208,"y":1764.25,"wires":[["e898fd06.e6bf9"]]},{"id":"70c9eb1.f770914","type":"inject","z":"47f701cb.f5e21","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":41,"wires":[["5e154c4.1c510b4"]]},{"id":"5e154c4.1c510b4","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/status","qos":"","retain":"","broker":"75850069.5261b","x":409,"y":46,"wires":[]},{"id":"676f83da.50ecec","type":"exec","z":"47f701cb.f5e21","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":366,"y":1187,"wires":[["6d373e63.a324a"],[],[]]},{"id":"6d373e63.a324a","type":"mqtt out","z":"47f701cb.f5e21","name":"","topic":"Living/pi3/system/swap","qos":"","retain":"","broker":"75850069.5261b","x":786,"y":1187,"wires":[]}]