Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/PiZero-Living.json
[
    {
        "id": "b20905ac.d661c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94f2df23.d3f68",
        "type": "inject",
        "z": "b20905ac.d661c8",
        "name": "Elke minuut",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100.5,
        "y": 575,
        "wires": [
            [
                "58c3bef8.49fc8"
            ]
        ]
    },
    {
        "id": "4d0fbbfb.2bdcf4",
        "type": "mqtt out",
        "z": "b20905ac.d661c8",
        "name": "MQTT DHT temperatuur",
        "topic": "Living/zero/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "59d9a5b6.99aa2c",
        "x": 752.5,
        "y": 573,
        "wires": []
    },
    {
        "id": "92ccb096.d0a49",
        "type": "debug",
        "z": "b20905ac.d661c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 467.5,
        "y": 506,
        "wires": []
    },
    {
        "id": "de54d603.511078",
        "type": "function",
        "z": "b20905ac.d661c8",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 475.5,
        "y": 572,
        "wires": [
            [
                "8e8735a1.50c798",
                "4d0fbbfb.2bdcf4"
            ]
        ]
    },
    {
        "id": "80bc6b98.c79a78",
        "type": "function",
        "z": "b20905ac.d661c8",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.5,
        "y": 699,
        "wires": [
            [
                "886f20e.72cf1e",
                "2b943d5b.ffdfa2"
            ]
        ]
    },
    {
        "id": "8e8735a1.50c798",
        "type": "debug",
        "z": "b20905ac.d661c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 711.5,
        "y": 641,
        "wires": []
    },
    {
        "id": "886f20e.72cf1e",
        "type": "debug",
        "z": "b20905ac.d661c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 709.5,
        "y": 772,
        "wires": []
    },
    {
        "id": "2b943d5b.ffdfa2",
        "type": "mqtt out",
        "z": "b20905ac.d661c8",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "Living/zero/input/luchtvochtigheid",
        "qos": "",
        "retain": "",
        "broker": "59d9a5b6.99aa2c",
        "x": 759.5,
        "y": 698,
        "wires": []
    },
    {
        "id": "531f1041.3e359",
        "type": "rpi-gpio in",
        "z": "b20905ac.d661c8",
        "name": "Pin 13 pir groot",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 214,
        "y": 186,
        "wires": [
            [
                "24fd505f.1ef8d"
            ]
        ]
    },
    {
        "id": "24fd505f.1ef8d",
        "type": "mqtt out",
        "z": "b20905ac.d661c8",
        "name": "MQTT pir zero",
        "topic": "Living/zero/input/pir",
        "qos": "",
        "retain": "",
        "broker": "59d9a5b6.99aa2c",
        "x": 664,
        "y": 166,
        "wires": []
    },
    {
        "id": "58c3bef8.49fc8",
        "type": "rpi-dht22",
        "z": "b20905ac.d661c8",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "7",
        "x": 274.5,
        "y": 575,
        "wires": [
            [
                "92ccb096.d0a49",
                "de54d603.511078",
                "80bc6b98.c79a78"
            ]
        ]
    },
    {
        "id": "59d9a5b6.99aa2c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Living/zero/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "Living/zero/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "Living/zero/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    }
]