Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Poort.json
[
    {
        "id": "376b9ee8.cb07f2",
        "type": "tab",
        "label": "Poort",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d377a763.0b03b8",
        "type": "mqtt-broker",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "PoortjePi/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "PoortjePi/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "PoortjePi/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline"
    },
    {
        "id": "731f572e.9319d8",
        "type": "rpi-gpio in",
        "z": "376b9ee8.cb07f2",
        "name": "Pin 15 Fotocel",
        "pin": "15",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "ffd972bf.63cc4"
            ]
        ]
    },
    {
        "id": "ffd972bf.63cc4",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "MQTT Fotocel",
        "topic": "PoortjePi/input/fotocel",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "c25191d5.923d9",
        "type": "inject",
        "z": "376b9ee8.cb07f2",
        "name": "Elke minuut",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "fffa919c.7b106",
                "c483b122.b0f1a",
                "14672b3c.3ced85",
                "1a5afdc0.e4c4e2",
                "3b87fcf9.588d14",
                "d722b0b7.f2844",
                "1ec5968a.ca1229"
            ]
        ]
    },
    {
        "id": "f9a477d9.b513e8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "MQTT DHT temperatuur",
        "topic": "PoortjePi/input/temperatuur-dht",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "7c761c8f.8b5864",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 573,
        "y": 739,
        "wires": [
            [
                "f9a477d9.b513e8"
            ]
        ]
    },
    {
        "id": "33dbf96c.dfc596",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 782,
        "wires": [
            [
                "2071c4e0.979bfc"
            ]
        ]
    },
    {
        "id": "2071c4e0.979bfc",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "PoortjePi/input/luchtvochtigheid-dht",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 852,
        "y": 782,
        "wires": []
    },
    {
        "id": "a9be0174.7eac3",
        "type": "inject",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "25a02731.cd06f8"
            ]
        ]
    },
    {
        "id": "a1d9759e.90ac98",
        "type": "inject",
        "z": "376b9ee8.cb07f2",
        "name": "update",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 178,
        "y": 1560,
        "wires": [
            [
                "aa43b0e0.8893"
            ]
        ]
    },
    {
        "id": "dbf96f7d.6b391",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1560,
        "wires": [
            [
                "6fcfeed.251f91"
            ]
        ]
    },
    {
        "id": "f8986105.77f52",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 582,
        "y": 1122,
        "wires": [
            [
                "4ac738ca.c8d0f8"
            ]
        ]
    },
    {
        "id": "d9c031f5.689bd",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "b3b32695.5ff8d8"
            ]
        ]
    },
    {
        "id": "26fa7410.1d6e4c",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 680,
        "wires": [
            [
                "c359ee74.97bf8"
            ]
        ]
    },
    {
        "id": "9c3357c9.817948",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/temp",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 832,
        "y": 1042,
        "wires": []
    },
    {
        "id": "b3fdb4d2.f5b3f8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 800,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4ac738ca.c8d0f8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/mem",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 832,
        "y": 1122,
        "wires": []
    },
    {
        "id": "b3b32695.5ff8d8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/undervoltage",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "c359ee74.97bf8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 830,
        "y": 680,
        "wires": []
    },
    {
        "id": "6fcfeed.251f91",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/uptime",
        "qos": "",
        "retain": "true",
        "broker": "d377a763.0b03b8",
        "x": 792,
        "y": 1563,
        "wires": []
    },
    {
        "id": "1a5afdc0.e4c4e2",
        "type": "exec",
        "z": "376b9ee8.cb07f2",
        "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Wifi signal",
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "523dd29d.e5815c"
            ],
            [],
            []
        ]
    },
    {
        "id": "523dd29d.e5815c",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/wifi",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 810,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6ce2e049.9ef3b",
        "type": "exec",
        "z": "376b9ee8.cb07f2",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 500,
        "y": 1680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "93982d5a.fa69c",
        "type": "exec",
        "z": "376b9ee8.cb07f2",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 510,
        "y": 1760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f3f6fe19.24a22",
        "type": "mqtt in",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "d377a763.0b03b8",
        "x": 220,
        "y": 1680,
        "wires": [
            [
                "6ce2e049.9ef3b"
            ]
        ]
    },
    {
        "id": "123d62e5.94c5ed",
        "type": "mqtt in",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "d377a763.0b03b8",
        "x": 230,
        "y": 1760,
        "wires": [
            [
                "93982d5a.fa69c"
            ]
        ]
    },
    {
        "id": "c6f48a4e.b7d818",
        "type": "rpi-gpio out",
        "z": "376b9ee8.cb07f2",
        "name": "Stopcontact",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 710,
        "y": 1900,
        "wires": []
    },
    {
        "id": "44c0ba2.06c6a44",
        "type": "mqtt in",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/output/stopcontact/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "d377a763.0b03b8",
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "1ad5dc2.31dbb24",
                "e578e24f.9a8d1"
            ]
        ]
    },
    {
        "id": "e578e24f.9a8d1",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 425,
        "y": 1896,
        "wires": [
            [
                "c6f48a4e.b7d818"
            ]
        ]
    },
    {
        "id": "1ad5dc2.31dbb24",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 402,
        "y": 1958,
        "wires": [
            [
                "75829923.3926e8"
            ]
        ]
    },
    {
        "id": "75829923.3926e8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "Stopcontact status",
        "topic": "PoortjePi/output/stopcontact/status",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 731,
        "y": 1952,
        "wires": []
    },
    {
        "id": "97c747c8.39ab08",
        "type": "inject",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "online",
        "payloadType": "str",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "d00a9264.ce707"
            ]
        ]
    },
    {
        "id": "d00a9264.ce707",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/status",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 800,
        "y": 40,
        "wires": []
    },
    {
        "id": "3b87fcf9.588d14",
        "type": "exec",
        "z": "376b9ee8.cb07f2",
        "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap %",
        "x": 400,
        "y": 1340,
        "wires": [
            [
                "850286dd.9a3888"
            ],
            [],
            []
        ]
    },
    {
        "id": "850286dd.9a3888",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/system/swap",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 820,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d722b0b7.f2844",
        "type": "rpi-dht22",
        "z": "376b9ee8.cb07f2",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "11",
        "x": 372,
        "y": 742,
        "wires": [
            [
                "7c761c8f.8b5864",
                "33dbf96c.dfc596"
            ]
        ]
    },
    {
        "id": "14672b3c.3ced85",
        "type": "vcgencmd",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "d9c031f5.689bd",
                "26fa7410.1d6e4c"
            ]
        ]
    },
    {
        "id": "fffa919c.7b106",
        "type": "vcgencmd",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 412,
        "y": 1042,
        "wires": [
            [
                "9c3357c9.817948"
            ]
        ]
    },
    {
        "id": "aa43b0e0.8893",
        "type": "Uptime",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "dbf96f7d.6b391"
            ]
        ]
    },
    {
        "id": "c483b122.b0f1a",
        "type": "Memory",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "x": 392,
        "y": 1122,
        "wires": [
            [
                "f8986105.77f52"
            ]
        ]
    },
    {
        "id": "25a02731.cd06f8",
        "type": "cpu",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 448.5,
        "y": 1445.75,
        "wires": [
            [
                "b3fdb4d2.f5b3f8"
            ]
        ]
    },
    {
        "id": "1ec5968a.ca1229",
        "type": "Bme280",
        "z": "376b9ee8.cb07f2",
        "name": "BME280",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280",
        "extra": true,
        "x": 392,
        "y": 902,
        "wires": [
            [
                "98ae79a.de7f988",
                "5f1a07e1.7c1b78",
                "abd19cbf.29a8",
                "a32ccd47.14eb5",
                "d95cfda3.966af"
            ]
        ]
    },
    {
        "id": "fc64eb9.63e7918",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 852,
        "y": 842,
        "wires": []
    },
    {
        "id": "4b5d2e2f.2062d",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/input/luchtvochtigheid",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 862,
        "y": 882,
        "wires": []
    },
    {
        "id": "116e019e.0c597e",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/input/heatindex",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 842,
        "y": 922,
        "wires": []
    },
    {
        "id": "bca15673.28cbe8",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/input/dewpoint",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 842,
        "y": 962,
        "wires": []
    },
    {
        "id": "b8ac600b.2f933",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "topic": "PoortjePi/input/pressure",
        "qos": "",
        "retain": "",
        "broker": "d377a763.0b03b8",
        "x": 842,
        "y": 1002,
        "wires": []
    },
    {
        "id": "98ae79a.de7f988",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Temperatuur",
        "func": "msg.payload = msg.payload.temperature_C\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 842,
        "wires": [
            [
                "fc64eb9.63e7918"
            ]
        ]
    },
    {
        "id": "5f1a07e1.7c1b78",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Luchtvochtigheid",
        "func": "msg.payload = parseFloat(msg.payload.humidity.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 622,
        "y": 882,
        "wires": [
            [
                "4b5d2e2f.2062d"
            ]
        ]
    },
    {
        "id": "abd19cbf.29a8",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "HeatIndex",
        "func": "msg.payload = parseFloat(msg.payload.heatIndex.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 922,
        "wires": [
            [
                "116e019e.0c597e"
            ]
        ]
    },
    {
        "id": "a32ccd47.14eb5",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Dauwpunt",
        "func": "msg.payload = parseFloat(msg.payload.dewPoint_C.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 962,
        "wires": [
            [
                "bca15673.28cbe8"
            ]
        ]
    },
    {
        "id": "d95cfda3.966af",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Luchtdruk",
        "func": "msg.payload = parseFloat(msg.payload.pressure_hPa.toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 1002,
        "wires": [
            [
                "b8ac600b.2f933"
            ]
        ]
    },
    {
        "id": "104d115c.305927",
        "type": "mqtt out",
        "z": "376b9ee8.cb07f2",
        "name": "Send Messages",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "d377a763.0b03b8",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea23e4a2.eaa928",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Format config messages binary sensors",
        "func": "var ident = \"poortpi\";\nvar name = \"PoortPi\";\nvar model = \"3A+\";\nvar manufact = \"DIY\";\n\nvar t = \"PoortjePi/\";\nvar av_t = \"PoortjePi/status\";\n\nvar name1 = \"Beweging fotocel\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/fotocel\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name4 = \"PoortPi throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"PoortPi undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"PoortPi online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config1, config4, config5, config6];\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 473,
        "y": 229,
        "wires": [
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ]
        ]
    },
    {
        "id": "e60b12c1.93bb3",
        "type": "inject",
        "z": "376b9ee8.cb07f2",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "Started!",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 116,
        "y": 211,
        "wires": [
            [
                "ea23e4a2.eaa928",
                "daddd17.61ae23",
                "7df955c3.40efac"
            ]
        ]
    },
    {
        "id": "daddd17.61ae23",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Format config messages sensors",
        "func": "var ident = \"poortpi\";\nvar name = \"PoortPi\";\nvar model = \"3A+\";\nvar manufact = \"DIY\";\n\nvar t = \"PoortjePi/\";\nvar av_t = \"PoortjePi/status\";\n\nvar name1 = \"Temperatuur poort\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Luchtvochtigheid poort\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/luchtvochtigheid\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Temperatuur cpu PoortjePi\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu PoortjePi\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram PoortjePi\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap PoortjePi\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime PoortjePi\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\nvar name8 = \"Wifi PoortjePi\";\nvar id8 = (name8.toLowerCase()).split(' ').join('_');\nvar config8 = {\n    payload: {\n        name: name8,\n        uniq_id: id8,\n        stat_t: t+\"system/wifi\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:wifi-strength-2\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n};\nvar name9 = \"Temperatuur poort dht\";\nvar id9 = (name9.toLowerCase()).split(' ').join('_');\nvar config9 = {\n    payload: {\n        name: name9,\n        uniq_id: id9,\n        stat_t: t+\"input/temperatuur-dht\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id9+\"/config\"\n};\nvar name10 = \"Luchtvochtigheid poort dht\";\nvar id10 = (name10.toLowerCase()).split(' ').join('_');\nvar config10 = {\n    payload: {\n        name: name10,\n        uniq_id: id10,\n        stat_t: t+\"input/luchtvochtigheid-dht\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id10+\"/config\"\n};\nvar name11 = \"Gevoelstemperatuur poort\";\nvar id11 = (name11.toLowerCase()).split(' ').join('_');\nvar config11 = {\n    payload: {\n        name: name11,\n        uniq_id: id11,\n        stat_t: t+\"input/heatindex\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        ic: \"mdi:thermometer-alert\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id11+\"/config\"\n};\nvar name12 = \"Dauwpunt poort\";\nvar id12 = (name12.toLowerCase()).split(' ').join('_');\nvar config12 = {\n    payload: {\n        name: name12,\n        uniq_id: id12,\n        stat_t: t+\"input/dewpoint\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        ic: \"mdi:thermometer-alert\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id12+\"/config\"\n};\nvar name13 = \"Luchtdruk poort\";\nvar id13 = (name13.toLowerCase()).split(' ').join('_');\nvar config13 = {\n    payload: {\n        name: name13,\n        uniq_id: id13,\n        stat_t: t+\"input/pressure\",\n        avty_t: av_t,\n        dev_cla: \"pressure\",\n        unit_of_meas: \"hPa\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id13+\"/config\"\n};\nvar name14 = \"Beweging poort\";\nvar id14 = (name14.toLowerCase()).split(' ').join('_');\nvar config14 = {\n    payload: {\n        name: name14,\n        uniq_id: id14,\n        stat_t: t+\"input/fotocel\",\n        avty_t: av_t,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id14+\"/config\"\n};\nreturn [config1, config2, config3, config4, config5, config6, config7, config8, config9, config10, config11, config12, config13, config14];\n",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 475,
        "y": 396,
        "wires": [
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ],
            [
                "104d115c.305927"
            ]
        ]
    },
    {
        "id": "7df955c3.40efac",
        "type": "function",
        "z": "376b9ee8.cb07f2",
        "name": "Format config messages switches",
        "func": "var ident = \"poortpi\";\nvar name = \"PoortPi\";\nvar model = \"3A+\";\nvar manufact = \"DIY\";\n\nvar t = \"PoortjePi/output/\";\nvar av_t = \"PoortjePi/status\";\n\nvar name1 = \"Stopcontact poort\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"stopcontact/status\",\n        cmd_t: t+\"stopcontact/set\",\n        ic: \"mdi:power-socket-eu\",\n        ret: true,\n        avty_t: av_t,\n        pl_off: \"OFF\",\n        pl_on: \"ON\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/switch/\"+ident+\"/\"+id1+\"/config\"\n};\n\n\nreturn [config1];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "104d115c.305927"
            ]
        ]
    }
]