Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Slaapkamer.json
[{"id":"5e1dbaf2.0faa34","type":"tab","label":"Slaapkamer","disabled":false,"info":""},{"id":"2db99275.8fd19e","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Slaapkamer/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"Slaapkamer/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"Slaapkamer/status","willQos":"0","willRetain":"false","willPayload":"offline"},{"id":"c3bdc728.c101c","type":"rpi-gpio in","z":"5e1dbaf2.0faa34","name":"Pin 15 pir klein","pin":"15","intype":"tri","debounce":"25","read":false,"x":260,"y":300,"wires":[["d890a738.a1c14"]]},{"id":"d890a738.a1c14","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"MQTT pir klein","topic":"Slaapkamer/input/pir_klein","qos":"","retain":"","broker":"2db99275.8fd19e","x":700,"y":320,"wires":[]},{"id":"288f601a.7f2e3","type":"inject","z":"5e1dbaf2.0faa34","name":"Elke minuut","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":118.5,"y":942,"wires":[["77ef1a77.4a69e4","188c57c5.f4d758","ebe16634.9ecda8","8cc08c0.4796c78","1f86e246.b8abae"]]},{"id":"49f648e2.30beb","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"MQTT DHT temperatuur","topic":"Slaapkamer/input/temperatuur","qos":"","retain":"","broker":"2db99275.8fd19e","x":792.5,"y":553,"wires":[]},{"id":"2cf3a59c.16877a","type":"function","z":"5e1dbaf2.0faa34","name":"temperatuur","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":515.5,"y":552,"wires":[["49f648e2.30beb"]]},{"id":"5b6b8f0d.c5549","type":"function","z":"5e1dbaf2.0faa34","name":"luchtvochtigheid","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":517.5,"y":679,"wires":[["54e725a.113535c"]]},{"id":"54e725a.113535c","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"MQTT DHT luchtvochtigheid","topic":"Slaapkamer/input/luchtvochtigheid","qos":"","retain":"","broker":"2db99275.8fd19e","x":799.5,"y":678,"wires":[]},{"id":"2ee06506.1d69fa","type":"rpi-gpio in","z":"5e1dbaf2.0faa34","name":"Pin 13 pir groot","pin":"13","intype":"tri","debounce":"25","read":false,"x":254,"y":166,"wires":[["9b2f08c8.aa6928"]]},{"id":"9b2f08c8.aa6928","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"MQTT pir groot","topic":"Slaapkamer/input/pir_groot","qos":"","retain":"","broker":"2db99275.8fd19e","x":704,"y":146,"wires":[]},{"id":"77ef1a77.4a69e4","type":"rpi-dht22","z":"5e1dbaf2.0faa34","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":314.5,"y":555,"wires":[["2cf3a59c.16877a","5b6b8f0d.c5549"]]},{"id":"7949be5a.ac472","type":"inject","z":"5e1dbaf2.0faa34","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":214,"y":1518,"wires":[["d6a6ff4e.703bd"]]},{"id":"8cc08c0.4796c78","type":"vcgencmd","z":"5e1dbaf2.0faa34","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":400.5,"y":1083.75,"wires":[["c8b7d30e.f6102","a33b63e8.ef3bb"]]},{"id":"d6a6ff4e.703bd","type":"cpu","z":"5e1dbaf2.0faa34","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":483.5,"y":1516.75,"wires":[["dc5be94e.0c2558"]]},{"id":"188c57c5.f4d758","type":"vcgencmd","z":"5e1dbaf2.0faa34","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":417.5,"y":829.75,"wires":[["85fca7b3.a3b648"]]},{"id":"25a1c1d3.2b4fde","type":"Uptime","z":"5e1dbaf2.0faa34","name":"","x":399.5,"y":1656.75,"wires":[["d60a421.d880fc"]]},{"id":"ebe16634.9ecda8","type":"Memory","z":"5e1dbaf2.0faa34","name":"","x":389.5,"y":940.75,"wires":[["3f4b9b8a.71b084"]]},{"id":"f6f33c71.7105d","type":"inject","z":"5e1dbaf2.0faa34","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":217.5,"y":1656.75,"wires":[["25a1c1d3.2b4fde"]]},{"id":"d60a421.d880fc","type":"function","z":"5e1dbaf2.0faa34","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":559.5,"y":1656.75,"wires":[["e075dae.98a1228"]]},{"id":"3f4b9b8a.71b084","type":"function","z":"5e1dbaf2.0faa34","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":562.5,"y":940.75,"wires":[["608f4072.efb59"]]},{"id":"c8b7d30e.f6102","type":"function","z":"5e1dbaf2.0faa34","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":1086.75,"wires":[["c5e66ef2.9f4d"]]},{"id":"a33b63e8.ef3bb","type":"function","z":"5e1dbaf2.0faa34","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":592.5,"y":1213.75,"wires":[["1d320b71.99bcd5"]]},{"id":"85fca7b3.a3b648","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/temp","qos":"","retain":"","broker":"2db99275.8fd19e","x":841.5,"y":827.75,"wires":[]},{"id":"dc5be94e.0c2558","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/cpu","qos":"","retain":"","broker":"2db99275.8fd19e","x":911.5,"y":1521.75,"wires":[]},{"id":"608f4072.efb59","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/mem","qos":"","retain":"","broker":"2db99275.8fd19e","x":833.5,"y":940.75,"wires":[]},{"id":"c5e66ef2.9f4d","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/undervoltage","qos":"","retain":"","broker":"2db99275.8fd19e","x":877.5,"y":1083.75,"wires":[]},{"id":"1d320b71.99bcd5","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/throttle","qos":"","retain":"","broker":"2db99275.8fd19e","x":834.5,"y":1218.75,"wires":[]},{"id":"e075dae.98a1228","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/uptime","qos":"","retain":"","broker":"2db99275.8fd19e","x":841.5,"y":1659.75,"wires":[]},{"id":"d04e9d53.b6273","type":"exec","z":"5e1dbaf2.0faa34","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":510.5,"y":1784.75,"wires":[[],[],[]]},{"id":"bf20963.39f0368","type":"exec","z":"5e1dbaf2.0faa34","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":520.5,"y":1864.75,"wires":[[],[],[]]},{"id":"c6efad7c.8161e","type":"mqtt in","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/reboot","qos":"2","datatype":"auto","broker":"2db99275.8fd19e","x":230.5,"y":1784.75,"wires":[["d04e9d53.b6273"]]},{"id":"95d5c6b1.fa3258","type":"mqtt in","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/shutdown","qos":"2","datatype":"auto","broker":"2db99275.8fd19e","x":240.5,"y":1864.75,"wires":[["bf20963.39f0368"]]},{"id":"eac85f08.c2b01","type":"inject","z":"5e1dbaf2.0faa34","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":46,"wires":[["2f903604.7aa6ca"]]},{"id":"2f903604.7aa6ca","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/status","qos":"","retain":"","broker":"2db99275.8fd19e","x":498,"y":46,"wires":[]},{"id":"1f86e246.b8abae","type":"exec","z":"5e1dbaf2.0faa34","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":367,"y":1351,"wires":[["78449509.2a5f3c"],[],[]]},{"id":"78449509.2a5f3c","type":"mqtt out","z":"5e1dbaf2.0faa34","name":"","topic":"Slaapkamer/system/swap","qos":"","retain":"","broker":"2db99275.8fd19e","x":787,"y":1351,"wires":[]}]