Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/tvPi.json
[{"id":"7a1b4a7e.b6f3f4","type":"tab","label":"tvPi","disabled":false,"info":""},{"id":"1ab655d4.c3b1fa","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"tvPi/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"tvPi/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"tvPi/status","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"4fb1889c.006cc8","type":"inject","z":"7a1b4a7e.b6f3f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":150,"y":360,"wires":[["a2bf0bef.cf3958","52f5663c.846e88","89d36614.1f8148","239ac7a.72f0338"]]},{"id":"a2bf0bef.cf3958","type":"vcgencmd","z":"7a1b4a7e.b6f3f4","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":440,"y":440,"wires":[["32cd0446.8bd74c","9a7813e2.49921"]]},{"id":"4eba9148.1a0ea","type":"cpu","z":"7a1b4a7e.b6f3f4","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":510,"y":840,"wires":[["2de7ce7e.7064b2"]]},{"id":"52f5663c.846e88","type":"vcgencmd","z":"7a1b4a7e.b6f3f4","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":460.5,"y":138.75,"wires":[["fa6c0112.a72ba"]]},{"id":"a6d81ba6.3ec868","type":"Uptime","z":"7a1b4a7e.b6f3f4","name":"","x":420,"y":960,"wires":[["b55ab689.9346e8"]]},{"id":"89d36614.1f8148","type":"Memory","z":"7a1b4a7e.b6f3f4","name":"","x":429,"y":297,"wires":[["f0e4507b.360d4"]]},{"id":"782df8ae.d4f778","type":"inject","z":"7a1b4a7e.b6f3f4","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":238,"y":960,"wires":[["a6d81ba6.3ec868"]]},{"id":"b55ab689.9346e8","type":"function","z":"7a1b4a7e.b6f3f4","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["39565cf.bad0aa4"]]},{"id":"f0e4507b.360d4","type":"function","z":"7a1b4a7e.b6f3f4","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":297,"wires":[["9b47d899.fdb098"]]},{"id":"32cd0446.8bd74c","type":"function","z":"7a1b4a7e.b6f3f4","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":443,"wires":[["976fc844.079bd8"]]},{"id":"9a7813e2.49921","type":"function","z":"7a1b4a7e.b6f3f4","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":570,"wires":[["73a5ecff.a84e34"]]},{"id":"fa6c0112.a72ba","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/temp","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":864.5,"y":136.75,"wires":[]},{"id":"2de7ce7e.7064b2","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/cpu","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":908,"y":845,"wires":[]},{"id":"9b47d899.fdb098","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/mem","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":853,"y":297,"wires":[]},{"id":"976fc844.079bd8","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/undervoltage","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":887,"y":440,"wires":[]},{"id":"73a5ecff.a84e34","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/throttle","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":844,"y":575,"wires":[]},{"id":"39565cf.bad0aa4","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/uptime","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":832,"y":963,"wires":[]},{"id":"14c69eca.d79921","type":"inject","z":"7a1b4a7e.b6f3f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":231.5,"y":834.25,"wires":[["4eba9148.1a0ea"]]},{"id":"a8ffd57f.af4bc8","type":"exec","z":"7a1b4a7e.b6f3f4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":531,"y":1088,"wires":[[],[],[]]},{"id":"31f3c51c.63ad6a","type":"exec","z":"7a1b4a7e.b6f3f4","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":541,"y":1168,"wires":[[],[],[]]},{"id":"cbbcaaa5.962fe8","type":"mqtt in","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/reboot","qos":"2","datatype":"auto","broker":"1ab655d4.c3b1fa","x":231,"y":1088,"wires":[["a8ffd57f.af4bc8"]]},{"id":"1fa34bcc.b90f74","type":"mqtt in","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/shutdown","qos":"2","datatype":"auto","broker":"1ab655d4.c3b1fa","x":241,"y":1168,"wires":[["31f3c51c.63ad6a"]]},{"id":"26c79401.9dd05c","type":"inject","z":"7a1b4a7e.b6f3f4","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["cc45d9de.d1a038"]]},{"id":"cc45d9de.d1a038","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/status","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":450,"y":40,"wires":[]},{"id":"239ac7a.72f0338","type":"exec","z":"7a1b4a7e.b6f3f4","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":424.5,"y":684.25,"wires":[["305ad2a9.096eee"],[],[]]},{"id":"305ad2a9.096eee","type":"mqtt out","z":"7a1b4a7e.b6f3f4","name":"","topic":"tvPi/system/swap","qos":"","retain":"","broker":"1ab655d4.c3b1fa","x":824.5,"y":684.25,"wires":[]}]