Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/tvPi.json
[
  {
    "id": "d2b8caa9.3b6d78",
    "type": "tab",
    "label": "tvPi",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1474aaa1.94b935",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "tvPi/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "tvPi/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "tvPi/status",
    "willQos": "0",
    "willRetain": "true",
    "willPayload": "offline"
  },
  {
    "id": "669a7128.2b8b",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "Garage/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "Garage/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "Garage/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  },
  {
    "id": "6602c942.379188",
    "type": "inject",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 500,
    "wires": [
      ["18bf17ce.875ce8", "1985c93f.021ed7", "8748136b.d541e", "9bb7afd3.e8327"]
    ]
  },
  {
    "id": "9ce34837.0636d8",
    "type": "inject",
    "z": "d2b8caa9.3b6d78",
    "name": "update",
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 238,
    "y": 960,
    "wires": [["9e374fc7.0327c"]]
  },
  {
    "id": "f78812e5.e61ae",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 960,
    "wires": [["628f2005.194ac"]]
  },
  {
    "id": "b9d227a5.b8bfc8",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 680,
    "wires": [["b4398341.b65d"]]
  },
  {
    "id": "ac05dfc5.13952",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "Undervoltage",
    "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 420,
    "wires": [["b0aafd33.662e4"]]
  },
  {
    "id": "2339646e.b9f42c",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "Throttle",
    "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 636,
    "y": 477,
    "wires": [["d01801a9.46e37"]]
  },
  {
    "id": "8994c40d.c6db98",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/temp",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 890,
    "y": 600,
    "wires": []
  },
  {
    "id": "9d18066f.cecee8",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/cpu",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 908,
    "y": 845,
    "wires": []
  },
  {
    "id": "b4398341.b65d",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/mem",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 891,
    "y": 680,
    "wires": []
  },
  {
    "id": "b0aafd33.662e4",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/undervoltage",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 883,
    "y": 417,
    "wires": []
  },
  {
    "id": "d01801a9.46e37",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/throttle",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 848,
    "y": 482,
    "wires": []
  },
  {
    "id": "628f2005.194ac",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/uptime",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 832,
    "y": 963,
    "wires": []
  },
  {
    "id": "a549f230.17cbb",
    "type": "inject",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 231.5,
    "y": 834.25,
    "wires": [["65d8c931.75c9e8"]]
  },
  {
    "id": "3d3951f6.c286ce",
    "type": "exec",
    "z": "d2b8caa9.3b6d78",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Reboot",
    "x": 531,
    "y": 1088,
    "wires": [[], [], []]
  },
  {
    "id": "8a143096.56e1a",
    "type": "exec",
    "z": "d2b8caa9.3b6d78",
    "command": "sudo shutdown -h now",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Shutdown",
    "x": 541,
    "y": 1168,
    "wires": [[], [], []]
  },
  {
    "id": "3fd0d30e.39d0dc",
    "type": "mqtt in",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/reboot",
    "qos": "2",
    "datatype": "auto",
    "broker": "1474aaa1.94b935",
    "x": 231,
    "y": 1088,
    "wires": [["3d3951f6.c286ce"]]
  },
  {
    "id": "82cf946e.938a98",
    "type": "mqtt in",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/shutdown",
    "qos": "2",
    "datatype": "auto",
    "broker": "1474aaa1.94b935",
    "x": 241,
    "y": 1168,
    "wires": [["8a143096.56e1a"]]
  },
  {
    "id": "752da590.f04b0c",
    "type": "inject",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "online",
    "payloadType": "str",
    "x": 410,
    "y": 60,
    "wires": [["47cbeb61.0b76f4"]]
  },
  {
    "id": "47cbeb61.0b76f4",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/status",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 730,
    "y": 60,
    "wires": []
  },
  {
    "id": "8748136b.d541e",
    "type": "exec",
    "z": "d2b8caa9.3b6d78",
    "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Swap %",
    "x": 480,
    "y": 780,
    "wires": [["647f254a.94fb1c"], [], []]
  },
  {
    "id": "647f254a.94fb1c",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "topic": "tvPi/system/swap",
    "qos": "",
    "retain": "",
    "broker": "1474aaa1.94b935",
    "x": 880,
    "y": 780,
    "wires": []
  },
  {
    "id": "9bb7afd3.e8327",
    "type": "vcgencmd",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "command": "get_throttled",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 436,
    "y": 417,
    "wires": [["ac05dfc5.13952", "2339646e.b9f42c"]]
  },
  {
    "id": "18bf17ce.875ce8",
    "type": "vcgencmd",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "command": "measure_temp",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 486,
    "y": 602,
    "wires": [["8994c40d.c6db98"]]
  },
  {
    "id": "9e374fc7.0327c",
    "type": "Uptime",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "x": 420,
    "y": 960,
    "wires": [["f78812e5.e61ae"]]
  },
  {
    "id": "1985c93f.021ed7",
    "type": "Memory",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "x": 467,
    "y": 680,
    "wires": [["b9d227a5.b8bfc8"]]
  },
  {
    "id": "65d8c931.75c9e8",
    "type": "cpu",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "msgArray": false,
    "msgTemp": false,
    "x": 510,
    "y": 840,
    "wires": [["9d18066f.cecee8"]]
  },
  {
    "id": "69da41df.5087a",
    "type": "mqtt out",
    "z": "d2b8caa9.3b6d78",
    "name": "Send Messages",
    "topic": "",
    "qos": "2",
    "retain": "true",
    "broker": "1474aaa1.94b935",
    "x": 840,
    "y": 200,
    "wires": []
  },
  {
    "id": "2cc4e585.f706ba",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "Format config messages binary sensors",
    "func": "var ident = \"tvpi\";\nvar name = \"TvPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"tvPi/\";\nvar av_t = \"tvPi/status\";\n\n// var name1 = \"Beweging Fien pir klein\";\n// var id1 = (name1.toLowerCase()).split(' ').join('_');\n// var config1 = {\n//     payload: {\n//         name: name1,\n//         uniq_id: id1,\n//         stat_t: t+\"input/pir_klein\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n// };\n// var name2 = \"Beweging Fien pir groot\";\n// var id2 = (name2.toLowerCase()).split(' ').join('_');\n// var config2 = {\n//     payload: {\n//         name: name2,\n//         uniq_id: id2,\n//         stat_t: t+\"input/pir_groot\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n// };\n// var name3 = \"Beweging Living Zero\";\n// var id3 = (name3.toLowerCase()).split(' ').join('_');\n// var config3 = {\n//     payload: {\n//         name: name3,\n//         uniq_id: id3,\n//         stat_t: t+\"input/pir\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n// };\nvar name4 = \"tvPi throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"tvPi undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"tvPi online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config4, config5, config6];\n\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 493,
    "y": 129,
    "wires": [["69da41df.5087a"], ["69da41df.5087a"], ["69da41df.5087a"]]
  },
  {
    "id": "1cf6b8b4.b38617",
    "type": "inject",
    "z": "d2b8caa9.3b6d78",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "topic": "",
    "payload": "Started!",
    "payloadType": "str",
    "x": 160,
    "y": 220,
    "wires": [["2cc4e585.f706ba", "ed92c3bb.537a6"]]
  },
  {
    "id": "ed92c3bb.537a6",
    "type": "function",
    "z": "d2b8caa9.3b6d78",
    "name": "Format config messages sensors",
    "func": "var ident = \"tvpi\";\nvar name = \"TvPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"tvPi/\";\nvar av_t = \"tvPi/status\";\n\n// var name1 = \"Buitentemperatuur\";\n// var id1 = (name1.toLowerCase()).split(' ').join('_');\n// var config1 = {\n//     payload: {\n//         name: name1,\n//         uniq_id: id1,\n//         stat_t: t+\"input/temperatuur\",\n//         avty_t: av_t,\n//         dev_cla: \"temperature\",\n//         unit_of_meas: \"°C\",\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n// };\n// var name2 = \"Luchtvochtigheid Fien\";\n// var id2 = (name2.toLowerCase()).split(' ').join('_');\n// var config2 = {\n//     payload: {\n//         name: name2,\n//         uniq_id: id2,\n//         stat_t: t+\"input/luchtvochtigheid\",\n//         avty_t: av_t,\n//         dev_cla: \"humidity\",\n//         unit_of_meas: \"%\",\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n// };\nvar name3 = \"Temperatuur cpu tvPi\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu tvPi\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram tvPi\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap tvPi\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime tvPi\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\n// var name8 = \"Wifi Garage\";\n// var id8 = (name8.toLowerCase()).split(' ').join('_');\n// var config8 = {\n//     payload: {\n//         name: name8,\n//         uniq_id: id8,\n//         stat_t: t+\"system/wifi\",\n//         avty_t: av_t,\n//         unit_of_meas: \"%\",\n//         ic: \"mdi:wifi-strength-2\",\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n// };\nreturn [config3, config4, config5, config6, config7];\n",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 495,
    "y": 296,
    "wires": [
      ["69da41df.5087a"],
      ["69da41df.5087a"],
      ["69da41df.5087a"],
      ["69da41df.5087a"],
      ["69da41df.5087a"]
    ]
  }
]
