Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/VerwarmingPi.json
[{"id":"a014c472.608d28","type":"tab","label":"Verwarming","disabled":false,"info":""},{"id":"cb671993.7bfbf","type":"mqtt-broker","z":"","name":"Home-Assistant broker","broker":"192.168.79.54","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"verwarmingPi/status","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"verwarmingPi/status","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"verwarmingPi/status","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"1eac1af2.ba6de5","type":"rpi-gpio out","z":"a014c472.608d28","name":"Verluchting","pin":"15","set":"","level":"0","freq":"","out":"out","x":770,"y":95,"wires":[]},{"id":"69ae971.3e36668","type":"rpi-gpio out","z":"a014c472.608d28","name":"Reserve","pin":"7","set":false,"level":"0","freq":"","out":"out","x":770,"y":413,"wires":[]},{"id":"fd4f21ca.f66d8","type":"rpi-gpio out","z":"a014c472.608d28","name":"Badkamer","pin":"13","set":"","level":"0","freq":"","out":"out","x":661,"y":625,"wires":[]},{"id":"cbc73c60.594ad","type":"rpi-gpio out","z":"a014c472.608d28","name":"Slaapkamer","pin":"19","set":"","level":"0","freq":"","out":"out","x":787,"y":803,"wires":[]},{"id":"b54f8107.d9c03","type":"rpi-gpio out","z":"a014c472.608d28","name":"Fien","pin":"29","set":"","level":"0","freq":"","out":"out","x":775,"y":1259,"wires":[]},{"id":"d4eb7f54.f30f3","type":"rpi-gpio out","z":"a014c472.608d28","name":"Noor","pin":"21","set":"","level":"0","freq":"","out":"out","x":778,"y":1032,"wires":[]},{"id":"ca636da.f94a99","type":"rpi-gpio out","z":"a014c472.608d28","name":"Wc","pin":"23","set":"","level":"0","freq":"","out":"out","x":771,"y":1450,"wires":[]},{"id":"954c4c9a.6d861","type":"mqtt in","z":"a014c472.608d28","name":"Verluchting","topic":"verwarmingPi/output/verluchting/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":161,"y":103,"wires":[["355476f0.37a75a","39468de9.1ea402"]]},{"id":"be370a4f.fc42a8","type":"mqtt in","z":"a014c472.608d28","name":"Reserve","topic":"verwarmingPi/output/reserve/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":170,"y":413,"wires":[["da7d4653.2fbe08","97da4a3d.e186f8"]]},{"id":"2890b608.af39ca","type":"mqtt in","z":"a014c472.608d28","name":"Badkamer","topic":"verwarmingPi/output/badkamer/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":163,"y":635,"wires":[["b1718dd9.c1ec2","472c2d3.3b695d4"]]},{"id":"879e7c22.eb77e","type":"mqtt in","z":"a014c472.608d28","name":"Slaapkamer","topic":"verwarmingPi/output/slaapkamer/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":187,"y":803,"wires":[["6a29d99e.2bb798","6a50a67d.0ec2a8"]]},{"id":"f4da1cb7.b4284","type":"mqtt in","z":"a014c472.608d28","name":"Noor","topic":"verwarmingPi/output/noor/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":148,"y":1052,"wires":[["1b36c187.2913ee","7de36ebb.acce8"]]},{"id":"66eed22b.ee276c","type":"mqtt in","z":"a014c472.608d28","name":"Fien","topic":"verwarmingPi/output/fien/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":175,"y":1259,"wires":[["74860f4f.e0fdc","df7f8a93.834108"]]},{"id":"9516f00e.afd83","type":"mqtt in","z":"a014c472.608d28","name":"Wc","topic":"verwarmingPi/output/wc/set","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":171,"y":1450,"wires":[["55baafaf.c7ef2","65a838d3.82d148"]]},{"id":"da7d4653.2fbe08","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":500,"y":414,"wires":[["69ae971.3e36668"]]},{"id":"9005daa6.a72dc8","type":"mqtt out","z":"a014c472.608d28","name":"Reserve status","topic":"verwarmingPi/output/reserve/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":790,"y":461,"wires":[]},{"id":"97da4a3d.e186f8","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":471,"y":467,"wires":[["9005daa6.a72dc8"]]},{"id":"6a29d99e.2bb798","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":415,"y":804,"wires":[["cbc73c60.594ad"]]},{"id":"6a50a67d.0ec2a8","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":389,"y":879,"wires":[["f6b3e3ed.9e847"]]},{"id":"f6b3e3ed.9e847","type":"mqtt out","z":"a014c472.608d28","name":"Slaapkamer status","topic":"verwarmingPi/output/slaapkamer/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":718,"y":873,"wires":[]},{"id":"472c2d3.3b695d4","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":376,"y":621,"wires":[["fd4f21ca.f66d8"]]},{"id":"b1718dd9.c1ec2","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":353,"y":683,"wires":[["ee88d78.c849128"]]},{"id":"ee88d78.c849128","type":"mqtt out","z":"a014c472.608d28","name":"Badkamer status","topic":"verwarmingPi/output/badkamer/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":682,"y":677,"wires":[]},{"id":"1b36c187.2913ee","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":363,"y":1047,"wires":[["d4eb7f54.f30f3"]]},{"id":"7de36ebb.acce8","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":334,"y":1100,"wires":[["603b1e0e.7cc96"]]},{"id":"603b1e0e.7cc96","type":"mqtt out","z":"a014c472.608d28","name":"Noor status","topic":"verwarmingPi/output/noor/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":643,"y":1094,"wires":[]},{"id":"55baafaf.c7ef2","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":506,"y":1448,"wires":[["ca636da.f94a99"]]},{"id":"65a838d3.82d148","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":477,"y":1501,"wires":[["a4a7bb29.c5c0c8"]]},{"id":"a4a7bb29.c5c0c8","type":"mqtt out","z":"a014c472.608d28","name":"Wc status","topic":"verwarmingPi/output/wc/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":776,"y":1495,"wires":[]},{"id":"74860f4f.e0fdc","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":520,"y":1258,"wires":[["b54f8107.d9c03"]]},{"id":"df7f8a93.834108","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":491,"y":1311,"wires":[["3ad08523.17d9da"]]},{"id":"3ad08523.17d9da","type":"mqtt out","z":"a014c472.608d28","name":"Fien status","topic":"verwarmingPi/output/fien/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":800,"y":1305,"wires":[]},{"id":"355476f0.37a75a","type":"function","z":"a014c472.608d28","name":"Off -> 0 and On -> 1","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg","outputs":1,"noerr":0,"x":441,"y":106,"wires":[["1eac1af2.ba6de5"]]},{"id":"39468de9.1ea402","type":"function","z":"a014c472.608d28","name":"Status msg","func":"var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg","outputs":1,"noerr":0,"x":412,"y":159,"wires":[["135641b.4dfccbe"]]},{"id":"135641b.4dfccbe","type":"mqtt out","z":"a014c472.608d28","name":"Verluchting status","topic":"verwarmingPi/output/verluchting/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":741,"y":153,"wires":[]},{"id":"39d463f5.bc6f8c","type":"inject","z":"a014c472.608d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":112.5,"y":1897.25,"wires":[["feaaec0b.cac05","d6070fee.9b844","9c12fe9b.7ce7f","5fd44ca5.e9d074"]]},{"id":"feaaec0b.cac05","type":"vcgencmd","z":"a014c472.608d28","name":"","command":"get_throttled","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":382,"y":1905,"wires":[["e164d1e6.de6ef","463236d2.2dc138"]]},{"id":"1a900220.072dde","type":"cpu","z":"a014c472.608d28","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":391,"y":2355,"wires":[["7a33ec52.561bf4"]]},{"id":"d6070fee.9b844","type":"vcgencmd","z":"a014c472.608d28","name":"","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":389,"y":1615,"wires":[["e9ef6dec.68034"]]},{"id":"e2f14336.4ff43","type":"Uptime","z":"a014c472.608d28","name":"","x":329,"y":2446,"wires":[["35e60173.cdf02e"]]},{"id":"9c12fe9b.7ce7f","type":"Memory","z":"a014c472.608d28","name":"","x":371,"y":1762,"wires":[["123d094e.231737"]]},{"id":"8ced58a1.18b6e8","type":"inject","z":"a014c472.608d28","name":"update","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":147,"y":2446,"wires":[["e2f14336.4ff43"]]},{"id":"35e60173.cdf02e","type":"function","z":"a014c472.608d28","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":2446,"wires":[["84fbd825.f298f8"]]},{"id":"123d094e.231737","type":"function","z":"a014c472.608d28","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":1762,"wires":[["56a0e0a5.d5dfc"]]},{"id":"e164d1e6.de6ef","type":"function","z":"a014c472.608d28","name":"Undervoltage","func":"msg.payload = msg.payload.underVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":1908,"wires":[["6ec2256d.c023ec"]]},{"id":"463236d2.2dc138","type":"function","z":"a014c472.608d28","name":"Throttle","func":"msg.payload = msg.payload.throttled;\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":2035,"wires":[["686316a0.9b3b68"]]},{"id":"e9ef6dec.68034","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/temp","qos":"","retain":"","broker":"cb671993.7bfbf","x":823,"y":1613,"wires":[]},{"id":"7a33ec52.561bf4","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/cpu","qos":"","retain":"","broker":"cb671993.7bfbf","x":819,"y":2360,"wires":[]},{"id":"56a0e0a5.d5dfc","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/mem","qos":"","retain":"","broker":"cb671993.7bfbf","x":825,"y":1762,"wires":[]},{"id":"6ec2256d.c023ec","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/undervoltage","qos":"","retain":"","broker":"cb671993.7bfbf","x":859,"y":1905,"wires":[]},{"id":"686316a0.9b3b68","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/throttle","qos":"","retain":"","broker":"cb671993.7bfbf","x":816,"y":2040,"wires":[]},{"id":"84fbd825.f298f8","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/uptime","qos":"","retain":"","broker":"cb671993.7bfbf","x":771,"y":2449,"wires":[]},{"id":"c6ac4317.21e52","type":"inject","z":"a014c472.608d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":2350,"wires":[["1a900220.072dde"]]},{"id":"84662569.f231c8","type":"exec","z":"a014c472.608d28","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":461,"y":2563,"wires":[[],[],[]]},{"id":"f4216bd5.1d15c8","type":"exec","z":"a014c472.608d28","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":471,"y":2643,"wires":[[],[],[]]},{"id":"f701630e.9529f","type":"mqtt in","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/reboot","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":191,"y":2563,"wires":[["84662569.f231c8"]]},{"id":"584636b7.743948","type":"mqtt in","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/shutdown","qos":"2","datatype":"auto","broker":"cb671993.7bfbf","x":201,"y":2643,"wires":[["f4216bd5.1d15c8"]]},{"id":"8b65f2c0.50353","type":"inject","z":"a014c472.608d28","name":"","topic":"","payload":"online","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":158,"y":266,"wires":[["16797bde.c622d4"]]},{"id":"16797bde.c622d4","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/status","qos":"","retain":"","broker":"cb671993.7bfbf","x":394,"y":274,"wires":[]},{"id":"5fd44ca5.e9d074","type":"exec","z":"a014c472.608d28","command":"free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Swap %","x":364,"y":2181,"wires":[["362c2e67.05b1c2"],[],[]]},{"id":"362c2e67.05b1c2","type":"mqtt out","z":"a014c472.608d28","name":"","topic":"verwarmingPi/system/swap","qos":"","retain":"","broker":"cb671993.7bfbf","x":794,"y":2181,"wires":[]}]