Guides/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/VerwarminPi.json
[
    {
        "id": "54bdf962.786928",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9aa24861.c31ef",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Verluchting",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 770,
        "y": 95,
        "wires": []
    },
    {
        "id": "f9ad37f1.f168d",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Reserve",
        "pin": "7",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 770,
        "y": 413,
        "wires": []
    },
    {
        "id": "1077040d.43971c",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Badkamer",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 661,
        "y": 625,
        "wires": []
    },
    {
        "id": "c159e685.13da8",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Slaapkamer",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 787,
        "y": 803,
        "wires": []
    },
    {
        "id": "40ae27d2.9792f8",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Fien",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 775,
        "y": 1259,
        "wires": []
    },
    {
        "id": "96d0cc89.39bcf",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Noor",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 778,
        "y": 1032,
        "wires": []
    },
    {
        "id": "59694307.df24bc",
        "type": "rpi-gpio out",
        "z": "54bdf962.786928",
        "name": "Wc",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 771,
        "y": 1450,
        "wires": []
    },
    {
        "id": "dbcc70cb.3cce",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Verluchting",
        "topic": "verwarmingPi/output/verluchting/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 161,
        "y": 103,
        "wires": [
            [
                "d1e08d65.9959",
                "b09b5e68.0e98"
            ]
        ]
    },
    {
        "id": "b5682d25.5d8648",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Reserve",
        "topic": "verwarmingPi/output/reserve/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 170,
        "y": 413,
        "wires": [
            [
                "7dd09c14.3d259c",
                "64968a62.696a34"
            ]
        ]
    },
    {
        "id": "3dd7367b.00f0d2",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Badkamer",
        "topic": "verwarmingPi/output/badkamer/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 163,
        "y": 635,
        "wires": [
            [
                "a0fccae3.1b0fa8",
                "6eb6b131.398578"
            ]
        ]
    },
    {
        "id": "9f6ef89a.0c14c",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Slaapkamer",
        "topic": "verwarmingPi/output/slaapkamer/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 187,
        "y": 803,
        "wires": [
            [
                "5aa0d7c1.b03be",
                "3d53f120.74bb7e"
            ]
        ]
    },
    {
        "id": "2027e491.f70fa4",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Noor",
        "topic": "verwarmingPi/output/noor/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 148,
        "y": 1052,
        "wires": [
            [
                "313de7c4.7a0b58",
                "5f8a9bff.f4f65c"
            ]
        ]
    },
    {
        "id": "b17437f.bbc1ec8",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Fien",
        "topic": "verwarmingPi/output/fien/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 175,
        "y": 1259,
        "wires": [
            [
                "696d32f9.4b6dac",
                "530477cc.65ace"
            ]
        ]
    },
    {
        "id": "93c7d01f.75b3c8",
        "type": "mqtt in",
        "z": "54bdf962.786928",
        "name": "Wc",
        "topic": "verwarmingPi/output/wc/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "cb671993.7bfbf",
        "x": 171,
        "y": 1450,
        "wires": [
            [
                "c5d1dbb6.f6e538",
                "3f8ce5c7.f3b712"
            ]
        ]
    },
    {
        "id": "7dd09c14.3d259c",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 414,
        "wires": [
            [
                "f9ad37f1.f168d",
                "80768e85.9105c8"
            ]
        ]
    },
    {
        "id": "80768e85.9105c8",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 758,
        "y": 347,
        "wires": []
    },
    {
        "id": "42017792.faccf8",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Reserve status",
        "topic": "verwarmingPi/output/reserve/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 790,
        "y": 461,
        "wires": []
    },
    {
        "id": "64968a62.696a34",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 471,
        "y": 467,
        "wires": [
            [
                "e18ceda.e4a4e1",
                "42017792.faccf8"
            ]
        ]
    },
    {
        "id": "e18ceda.e4a4e1",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 736,
        "y": 497,
        "wires": []
    },
    {
        "id": "b0e34f1c.13dd68",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 575,
        "y": 764,
        "wires": []
    },
    {
        "id": "5aa0d7c1.b03be",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 415,
        "y": 804,
        "wires": [
            [
                "b0e34f1c.13dd68",
                "c159e685.13da8"
            ]
        ]
    },
    {
        "id": "3d53f120.74bb7e",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 389,
        "y": 879,
        "wires": [
            [
                "379615ce.496152",
                "4cec029.dc5a77c"
            ]
        ]
    },
    {
        "id": "4cec029.dc5a77c",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Slaapkamer status",
        "topic": "verwarmingPi/output/slaapkamer/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 718,
        "y": 873,
        "wires": []
    },
    {
        "id": "379615ce.496152",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 654,
        "y": 909,
        "wires": []
    },
    {
        "id": "8f898182.621e5",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 539,
        "y": 568,
        "wires": []
    },
    {
        "id": "6eb6b131.398578",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 376,
        "y": 621,
        "wires": [
            [
                "1077040d.43971c",
                "8f898182.621e5"
            ]
        ]
    },
    {
        "id": "a0fccae3.1b0fa8",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 353,
        "y": 683,
        "wires": [
            [
                "2fe29236.3914de",
                "db9c9faf.d22db"
            ]
        ]
    },
    {
        "id": "db9c9faf.d22db",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Badkamer status",
        "topic": "verwarmingPi/output/badkamer/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 682,
        "y": 677,
        "wires": []
    },
    {
        "id": "2fe29236.3914de",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 618,
        "y": 713,
        "wires": []
    },
    {
        "id": "ac48cac8.01fcd8",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 520,
        "y": 985,
        "wires": []
    },
    {
        "id": "313de7c4.7a0b58",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 363,
        "y": 1047,
        "wires": [
            [
                "ac48cac8.01fcd8",
                "96d0cc89.39bcf"
            ]
        ]
    },
    {
        "id": "5f8a9bff.f4f65c",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 334,
        "y": 1100,
        "wires": [
            [
                "ab630c8f.9d023",
                "aa2b198.4737968"
            ]
        ]
    },
    {
        "id": "aa2b198.4737968",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Noor status",
        "topic": "verwarmingPi/output/noor/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 643,
        "y": 1094,
        "wires": []
    },
    {
        "id": "ab630c8f.9d023",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 599,
        "y": 1130,
        "wires": []
    },
    {
        "id": "594e9853.31bd",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 663,
        "y": 1386,
        "wires": []
    },
    {
        "id": "c5d1dbb6.f6e538",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 506,
        "y": 1448,
        "wires": [
            [
                "594e9853.31bd",
                "59694307.df24bc"
            ]
        ]
    },
    {
        "id": "3f8ce5c7.f3b712",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 477,
        "y": 1501,
        "wires": [
            [
                "c96f73a6.ca99e",
                "1460e4a0.e73ceb"
            ]
        ]
    },
    {
        "id": "1460e4a0.e73ceb",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Wc status",
        "topic": "verwarmingPi/output/wc/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 776,
        "y": 1495,
        "wires": []
    },
    {
        "id": "c96f73a6.ca99e",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 742,
        "y": 1531,
        "wires": []
    },
    {
        "id": "6e29194f.8eb09",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 677,
        "y": 1196,
        "wires": []
    },
    {
        "id": "696d32f9.4b6dac",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1258,
        "wires": [
            [
                "6e29194f.8eb09",
                "40ae27d2.9792f8"
            ]
        ]
    },
    {
        "id": "530477cc.65ace",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 491,
        "y": 1311,
        "wires": [
            [
                "ae15c43b.aae218",
                "653f38db.ecd9d"
            ]
        ]
    },
    {
        "id": "653f38db.ecd9d",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Fien status",
        "topic": "verwarmingPi/output/fien/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 800,
        "y": 1305,
        "wires": []
    },
    {
        "id": "ae15c43b.aae218",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 756,
        "y": 1341,
        "wires": []
    },
    {
        "id": "3d7d2b56.0772cc",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 598,
        "y": 44,
        "wires": []
    },
    {
        "id": "d1e08d65.9959",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Off -> 0 and On -> 1",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = 0\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = 1\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 441,
        "y": 106,
        "wires": [
            [
                "3d7d2b56.0772cc",
                "9aa24861.c31ef"
            ]
        ]
    },
    {
        "id": "b09b5e68.0e98",
        "type": "function",
        "z": "54bdf962.786928",
        "name": "Status msg",
        "func": "var newMsg = {}\nif (msg.payload === \"OFF\"){\n  newMsg.payload = \"OFF\"\n} else if (msg.payload === \"ON\"){\n  newMsg.payload = \"ON\"\n}\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 412,
        "y": 159,
        "wires": [
            [
                "56e1b89d.537f1",
                "b391467d.3e27e"
            ]
        ]
    },
    {
        "id": "b391467d.3e27e",
        "type": "mqtt out",
        "z": "54bdf962.786928",
        "name": "Verluchting status",
        "topic": "verwarmingPi/output/verluchting/status",
        "qos": "",
        "retain": "",
        "broker": "cb671993.7bfbf",
        "x": 741,
        "y": 153,
        "wires": []
    },
    {
        "id": "56e1b89d.537f1",
        "type": "debug",
        "z": "54bdf962.786928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 686,
        "y": 208,
        "wires": []
    },
    {
        "id": "cb671993.7bfbf",
        "type": "mqtt-broker",
        "z": "",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "verwarmingPi/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "verwarmingPi/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "willTopic": "verwarmingPi/status",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "offline"
    }
]