documentation/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Noor.json
[
  {
    "id": "1e8b2004.88344",
    "type": "tab",
    "label": "Noor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2fc012d4.51081e",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "Noor/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "Noor/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "Noor/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  },
  {
    "id": "929b9fbd.25384",
    "type": "mqtt-broker",
    "name": "Home-Assistant broker",
    "broker": "192.168.79.54",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "Fien/status",
    "birthQos": "0",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "Fien/status",
    "closeQos": "0",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "Fien/status",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline"
  },
  {
    "id": "83f275e9.ee6018",
    "type": "rpi-gpio in",
    "z": "1e8b2004.88344",
    "name": "Pin 15 pir klein",
    "pin": "15",
    "intype": "tri",
    "debounce": "25",
    "read": false,
    "x": 350,
    "y": 697,
    "wires": [["898779b3.53ea38"]]
  },
  {
    "id": "b8b73229.514f2",
    "type": "rpi-dht22",
    "z": "1e8b2004.88344",
    "name": "DHT22",
    "topic": "rpi-dht22",
    "dht": 22,
    "pintype": "2",
    "pin": "7",
    "x": 344,
    "y": 937,
    "wires": [["9228c553.491568", "78b8e2a4.d5487c"]]
  },
  {
    "id": "9228c553.491568",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "temperatuur",
    "func": "msg.payload = msg.payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 574,
    "y": 937,
    "wires": [["55452b5d.6b9fd4"]]
  },
  {
    "id": "78b8e2a4.d5487c",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "luchtvochtigheid",
    "func": "msg.payload = msg.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 584,
    "y": 1057,
    "wires": [["42e6b53d.062c8c"]]
  },
  {
    "id": "898779b3.53ea38",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "Mqtt Pir klein",
    "topic": "Noor/input/pir_klein",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 809,
    "y": 696,
    "wires": []
  },
  {
    "id": "55452b5d.6b9fd4",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "MQTT DHT temperatuur",
    "topic": "Noor/input/temperatuur",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 894,
    "y": 937,
    "wires": []
  },
  {
    "id": "42e6b53d.062c8c",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "MQTT DHT luchtvochtigheid",
    "topic": "Noor/input/luchtvochtigheid",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 904,
    "y": 1057,
    "wires": []
  },
  {
    "id": "38a4d05e.d5e72",
    "type": "inject",
    "z": "1e8b2004.88344",
    "name": "Elke minuut",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 133,
    "y": 886,
    "wires": [
      [
        "b8b73229.514f2",
        "99c31d14.ba30f",
        "fb91bff3.cf906",
        "12446f6e.be8b11",
        "f8b4ce7b.f28ea",
        "b68ea993.562df8"
      ]
    ]
  },
  {
    "id": "dda55d4f.f064a",
    "type": "rpi-gpio in",
    "z": "1e8b2004.88344",
    "name": "Pin 13 pir groot",
    "pin": "13",
    "intype": "tri",
    "debounce": "25",
    "read": false,
    "x": 385,
    "y": 607,
    "wires": [["56aafd67.ff5a84"]]
  },
  {
    "id": "56aafd67.ff5a84",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "MQTT pir groot",
    "topic": "Noor/input/pir_groot",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 800,
    "y": 599,
    "wires": []
  },
  {
    "id": "1a3503a6.a7c2dc",
    "type": "inject",
    "z": "1e8b2004.88344",
    "name": "",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 237,
    "y": 1527,
    "wires": [["1a1bc425.bb3ddc"]]
  },
  {
    "id": "12446f6e.be8b11",
    "type": "vcgencmd",
    "z": "1e8b2004.88344",
    "name": "",
    "command": "get_throttled",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 425.5,
    "y": 779.75,
    "wires": [["2289bbe3.e4e0d4", "3c784d1e.c645a2"]]
  },
  {
    "id": "1a1bc425.bb3ddc",
    "type": "cpu",
    "z": "1e8b2004.88344",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "msgArray": false,
    "msgTemp": false,
    "x": 497.5,
    "y": 1525.75,
    "wires": [["82d67537.523ac8"]]
  },
  {
    "id": "99c31d14.ba30f",
    "type": "vcgencmd",
    "z": "1e8b2004.88344",
    "name": "",
    "command": "measure_temp",
    "codec": "H264",
    "clock": "core",
    "voltage": "core",
    "memory": "arm",
    "videoOutput": "0",
    "separateMsg": false,
    "x": 465.5,
    "y": 1137.75,
    "wires": [["969c484b.f32fa8"]]
  },
  {
    "id": "96f35737.d77578",
    "type": "Uptime",
    "z": "1e8b2004.88344",
    "name": "",
    "x": 379.5,
    "y": 1623.75,
    "wires": [["14f61b06.e96db5"]]
  },
  {
    "id": "fb91bff3.cf906",
    "type": "Memory",
    "z": "1e8b2004.88344",
    "name": "",
    "x": 446.5,
    "y": 1277.75,
    "wires": [["a0766e7.c93739"]]
  },
  {
    "id": "6d98de02.8667b",
    "type": "inject",
    "z": "1e8b2004.88344",
    "name": "update",
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 197.5,
    "y": 1623.75,
    "wires": [["96f35737.d77578"]]
  },
  {
    "id": "14f61b06.e96db5",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "",
    "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 539.5,
    "y": 1623.75,
    "wires": [["6f45fa44.238054"]]
  },
  {
    "id": "a0766e7.c93739",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "",
    "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 619.5,
    "y": 1277.75,
    "wires": [["4b490abe.bb3274"]]
  },
  {
    "id": "2289bbe3.e4e0d4",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "Undervoltage",
    "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 629.5,
    "y": 782.75,
    "wires": [["c8c0da02.f6c1c8"]]
  },
  {
    "id": "3c784d1e.c645a2",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "Throttle",
    "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630.5,
    "y": 855.75,
    "wires": [["864c640c.059e18"]]
  },
  {
    "id": "969c484b.f32fa8",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/temp",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 869.5,
    "y": 1135.75,
    "wires": []
  },
  {
    "id": "82d67537.523ac8",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/cpu",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 905.5,
    "y": 1530.75,
    "wires": []
  },
  {
    "id": "4b490abe.bb3274",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/mem",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 870.5,
    "y": 1277.75,
    "wires": []
  },
  {
    "id": "c8c0da02.f6c1c8",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/undervoltage",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 882.5,
    "y": 779.75,
    "wires": []
  },
  {
    "id": "864c640c.059e18",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/throttle",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 852.5,
    "y": 860.75,
    "wires": []
  },
  {
    "id": "6f45fa44.238054",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/uptime",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 801.5,
    "y": 1626.75,
    "wires": []
  },
  {
    "id": "f8b4ce7b.f28ea",
    "type": "exec",
    "z": "1e8b2004.88344",
    "command": "cat /proc/net/wireless | grep wlan0: | awk '{print int($4)}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Wifi signal",
    "x": 466,
    "y": 1345,
    "wires": [["35d3c3ff.b7d3ac"], [], []]
  },
  {
    "id": "35d3c3ff.b7d3ac",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/wifi",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 856,
    "y": 1345,
    "wires": []
  },
  {
    "id": "16ffafb8.1a896",
    "type": "exec",
    "z": "1e8b2004.88344",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Reboot",
    "x": 520,
    "y": 1739,
    "wires": [[], [], []]
  },
  {
    "id": "e67aa98a.c72df8",
    "type": "exec",
    "z": "1e8b2004.88344",
    "command": "sudo shutdown -h now",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "Shutdown",
    "x": 530,
    "y": 1819,
    "wires": [[], [], []]
  },
  {
    "id": "f2c72a04.91e158",
    "type": "mqtt in",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/reboot",
    "qos": "2",
    "datatype": "auto",
    "broker": "2fc012d4.51081e",
    "x": 220,
    "y": 1739,
    "wires": [["16ffafb8.1a896"]]
  },
  {
    "id": "c03897a9.4a03e8",
    "type": "mqtt in",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/shutdown",
    "qos": "2",
    "datatype": "auto",
    "broker": "2fc012d4.51081e",
    "x": 230,
    "y": 1819,
    "wires": [["e67aa98a.c72df8"]]
  },
  {
    "id": "1ee26ad3.956cf5",
    "type": "inject",
    "z": "1e8b2004.88344",
    "name": "",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "online",
    "payloadType": "str",
    "x": 124,
    "y": 66,
    "wires": [["574a554f.906f7c"]]
  },
  {
    "id": "574a554f.906f7c",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/status",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 395,
    "y": 68,
    "wires": []
  },
  {
    "id": "b68ea993.562df8",
    "type": "exec",
    "z": "1e8b2004.88344",
    "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Swap %",
    "x": 453,
    "y": 1449,
    "wires": [["cf3f0b5b.ed90c8"], [], []]
  },
  {
    "id": "cf3f0b5b.ed90c8",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "",
    "topic": "Noor/system/swap",
    "qos": "",
    "retain": "",
    "broker": "2fc012d4.51081e",
    "x": 853,
    "y": 1449,
    "wires": []
  },
  {
    "id": "104d115c.305927",
    "type": "mqtt out",
    "z": "1e8b2004.88344",
    "name": "Send Messages",
    "topic": "",
    "qos": "2",
    "retain": "true",
    "broker": "2fc012d4.51081e",
    "x": 769,
    "y": 277,
    "wires": []
  },
  {
    "id": "ea23e4a2.eaa928",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "Format config messages binary sensors",
    "func": "var ident = \"noor_pi_zero\";\nvar name = \"NoorPi Zero\";\nvar model = \"Zero\";\nvar manufact = \"DIY\";\n\nvar t = \"Noor/\";\nvar av_t = \"Noor/status\";\n\nvar name1 = \"Beweging Noor pir klein\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/pir_klein\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Beweging Noor pir groot\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/pir_groot\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n};\n// var name3 = \"Beweging Living Zero\";\n// var id3 = (name3.toLowerCase()).split(' ').join('_');\n// var config3 = {\n//     payload: {\n//         name: name3,\n//         uniq_id: id3,\n//         stat_t: t+\"input/pir\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n// };\nvar name4 = \"Noor throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Noor undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Noor online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config1, config2, config4, config5, config6];\n\n",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 422,
    "y": 206,
    "wires": [
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"]
    ]
  },
  {
    "id": "e60b12c1.93bb3",
    "type": "inject",
    "z": "1e8b2004.88344",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "Started!",
        "vt": "str"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "string"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "topic": "",
    "payload": "Started!",
    "payloadType": "str",
    "x": 65,
    "y": 188,
    "wires": [["ea23e4a2.eaa928", "daddd17.61ae23"]]
  },
  {
    "id": "daddd17.61ae23",
    "type": "function",
    "z": "1e8b2004.88344",
    "name": "Format config messages sensors",
    "func": "var ident = \"noor_pi_zero\";\nvar name = \"NoorPi Zero\";\nvar model = \"Zero\";\nvar manufact = \"DIY\";\n\nvar t = \"Noor/\";\nvar av_t = \"Noor/status\";\n\nvar name1 = \"Temperatuur Noor\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Luchtvochtigheid Noor\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/luchtvochtigheid\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Temperatuur cpu Noor\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu Noor\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram Noor\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap Noor\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime Noor\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\nvar name8 = \"Wifi Noor\";\nvar id8 = (name8.toLowerCase()).split(' ').join('_');\nvar config8 = {\n    payload: {\n        name: name8,\n        uniq_id: id8,\n        stat_t: t+\"system/wifi\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:wifi-strength-2\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id8+\"/config\"\n};\nreturn [config1, config2, config3, config4, config5, config6, config7, config8];\n",
    "outputs": 8,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 424,
    "y": 373,
    "wires": [
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"],
      ["104d115c.305927"]
    ]
  }
]
