documentation/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/node-red/Slaapkamer.json
[
    {
        "id": "529b269d20843dad",
        "type": "tab",
        "label": "Slaapkamer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2db99275.8fd19e",
        "type": "mqtt-broker",
        "name": "Home-Assistant broker",
        "broker": "192.168.79.54",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Slaapkamer/status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "Slaapkamer/status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "Slaapkamer/status",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "offline",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4fed516ec70fc28a",
        "type": "rpi-gpio in",
        "z": "529b269d20843dad",
        "name": "Pin 15 pir klein",
        "pin": "22",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 392,
        "y": 652,
        "wires": [
            [
                "580f5f6cc114b6d4"
            ]
        ]
    },
    {
        "id": "580f5f6cc114b6d4",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "MQTT pir klein",
        "topic": "Slaapkamer/input/pir_klein",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 813,
        "y": 647,
        "wires": []
    },
    {
        "id": "641d7aac2a78a773",
        "type": "inject",
        "z": "529b269d20843dad",
        "name": "Elke minuut",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 118.5,
        "y": 942,
        "wires": [
            [
                "b1408e309df839a2",
                "e09ffe89c18959db",
                "fb81e9581690566b",
                "25f510cb59d0a435",
                "e04ba4f1e48af86b"
            ]
        ]
    },
    {
        "id": "f1c21591f5df1f6c",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "MQTT DHT temperatuur",
        "topic": "Slaapkamer/input/temperatuur",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 820.5,
        "y": 1024,
        "wires": []
    },
    {
        "id": "c1559f5ec8af703e",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "temperatuur",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 543.5,
        "y": 1023,
        "wires": [
            [
                "f1c21591f5df1f6c"
            ]
        ]
    },
    {
        "id": "50fd100e3f79925b",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "luchtvochtigheid",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 547.5,
        "y": 1116,
        "wires": [
            [
                "1e8c537a2ea05a6a"
            ]
        ]
    },
    {
        "id": "1e8c537a2ea05a6a",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "MQTT DHT luchtvochtigheid",
        "topic": "Slaapkamer/input/luchtvochtigheid",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 827.5,
        "y": 1106,
        "wires": []
    },
    {
        "id": "7595575db7a3eeb3",
        "type": "rpi-gpio in",
        "z": "529b269d20843dad",
        "name": "Pin 13 pir groot",
        "pin": "27",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 378,
        "y": 577,
        "wires": [
            [
                "536a5de1e1b5f63f"
            ]
        ]
    },
    {
        "id": "536a5de1e1b5f63f",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "MQTT pir groot",
        "topic": "Slaapkamer/input/pir_groot",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 823,
        "y": 569,
        "wires": []
    },
    {
        "id": "486bb8ecc36d352c",
        "type": "inject",
        "z": "529b269d20843dad",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 214,
        "y": 1518,
        "wires": [
            [
                "f534b0f127ea6213"
            ]
        ]
    },
    {
        "id": "65729a1aaad98d58",
        "type": "inject",
        "z": "529b269d20843dad",
        "name": "update",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 217.5,
        "y": 1656.75,
        "wires": [
            [
                "a6422e686a7651a6"
            ]
        ]
    },
    {
        "id": "404ddedc3a41d9a9",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n        return hours ;\n\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 559.5,
        "y": 1656.75,
        "wires": [
            [
                "0d5ba1a5cd21c19d"
            ]
        ]
    },
    {
        "id": "524b2112c30c1a3d",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 553.5,
        "y": 1267.75,
        "wires": [
            [
                "598941f24181c302"
            ]
        ]
    },
    {
        "id": "433555f1d9aa1e93",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "Undervoltage",
        "func": "msg.payload = msg.payload.underVoltage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 587.5,
        "y": 780.75,
        "wires": [
            [
                "a625b2df3b2128f2",
                "ccfe4abe68941a7c"
            ]
        ]
    },
    {
        "id": "150ca5157225c7fe",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "Throttle",
        "func": "msg.payload = msg.payload.throttled;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 574.5,
        "y": 858.75,
        "wires": [
            [
                "a8ac19aa0eaa813d",
                "4dd44fb0d40a96b6"
            ]
        ]
    },
    {
        "id": "79c6abc617c6fe9b",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/temp",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 826.5,
        "y": 1193.75,
        "wires": []
    },
    {
        "id": "9e0dd8eaf21c23be",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/cpu",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 911.5,
        "y": 1521.75,
        "wires": []
    },
    {
        "id": "598941f24181c302",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/mem",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 824.5,
        "y": 1267.75,
        "wires": []
    },
    {
        "id": "a625b2df3b2128f2",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/undervoltage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2db99275.8fd19e",
        "x": 860.5,
        "y": 777.75,
        "wires": []
    },
    {
        "id": "a8ac19aa0eaa813d",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/throttle",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 837.5,
        "y": 859.75,
        "wires": []
    },
    {
        "id": "0d5ba1a5cd21c19d",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/uptime",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 841.5,
        "y": 1659.75,
        "wires": []
    },
    {
        "id": "58b4996c8efff76e",
        "type": "exec",
        "z": "529b269d20843dad",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 510.5,
        "y": 1784.75,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7feca0ee85b39dd6",
        "type": "exec",
        "z": "529b269d20843dad",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 520.5,
        "y": 1864.75,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0d528c61a435deae",
        "type": "mqtt in",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/reboot",
        "qos": "2",
        "datatype": "auto",
        "broker": "2db99275.8fd19e",
        "inputs": 0,
        "x": 230.5,
        "y": 1784.75,
        "wires": [
            [
                "58b4996c8efff76e"
            ]
        ]
    },
    {
        "id": "3606dbdf6634b335",
        "type": "mqtt in",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/shutdown",
        "qos": "2",
        "datatype": "auto",
        "broker": "2db99275.8fd19e",
        "inputs": 0,
        "x": 240.5,
        "y": 1864.75,
        "wires": [
            [
                "7feca0ee85b39dd6"
            ]
        ]
    },
    {
        "id": "1970ba9455885f37",
        "type": "inject",
        "z": "529b269d20843dad",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "online",
        "payloadType": "str",
        "x": 148,
        "y": 46,
        "wires": [
            [
                "d8abb1821bf5258b"
            ]
        ]
    },
    {
        "id": "d8abb1821bf5258b",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/status",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 498,
        "y": 46,
        "wires": []
    },
    {
        "id": "25f510cb59d0a435",
        "type": "exec",
        "z": "529b269d20843dad",
        "command": "free -m | grep Swap | awk '{printf \"%.2f\\n\", $3/$2 * 100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap %",
        "x": 367,
        "y": 1351,
        "wires": [
            [
                "639ace6a1ab73e75"
            ],
            [],
            []
        ]
    },
    {
        "id": "639ace6a1ab73e75",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "",
        "topic": "Slaapkamer/system/swap",
        "qos": "",
        "retain": "",
        "broker": "2db99275.8fd19e",
        "x": 824,
        "y": 1343,
        "wires": []
    },
    {
        "id": "6d9d5614219a0c3f",
        "type": "mqtt out",
        "z": "529b269d20843dad",
        "name": "Send Messages",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2db99275.8fd19e",
        "x": 884,
        "y": 269,
        "wires": []
    },
    {
        "id": "c55e28dd1056110c",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "Format config messages binary sensors",
        "func": "var ident = \"slaapkamer_pi\";\nvar name = \"SlaapkamerPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"Slaapkamer/\";\nvar av_t = \"Slaapkamer/status\";\n\nvar name1 = \"Beweging slaapkamer pir klein\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/pir_klein\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Beweging slaapkamer pir groot\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/pir_groot\",\n        avty_t: av_t,\n        dev_cla: \"motion\",\n        pl_off: 0,\n        pl_on: 1,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id2+\"/config\"\n};\n// var name3 = \"Beweging Living Pi3\";\n// var id3 = (name3.toLowerCase()).split(' ').join('_');\n// var config3 = {\n//     payload: {\n//         name: name3,\n//         uniq_id: id3,\n//         stat_t: t+\"input/pir\",\n//         avty_t: av_t,\n//         dev_cla: \"motion\",\n//         pl_off: 0,\n//         pl_on: 1,\n//         dev:  {\n//             identifiers: [ident],\n//             name: name, \n//             model: model, \n//             manufacturer: manufact\n            \n//         }\n//     },\n//     topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id3+\"/config\"\n// };\nvar name4 = \"Slaapkamer throttle\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/throttle\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Slaapkamer undervoltage\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/undervoltage\",\n        avty_t: av_t,\n        dev_cla: \"problem\",\n        pl_off: \"false\",\n        pl_on: \"true\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Slaapkamer online\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"status\",\n        avty_t: av_t,\n        dev_cla: \"connectivity\",\n        pl_off: \"offline\",\n        pl_on: \"online\",\n        off_dly: 75,\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/binary_sensor/\"+ident+\"/\"+id6+\"/config\"\n};\n\nreturn [config1, config2, config4, config5, config6];\n\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 537,
        "y": 198,
        "wires": [
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ]
        ]
    },
    {
        "id": "e21f727437f06b07",
        "type": "inject",
        "z": "529b269d20843dad",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 215,
        "y": 270,
        "wires": [
            [
                "c55e28dd1056110c",
                "89f73e1ee9181f3d"
            ]
        ]
    },
    {
        "id": "89f73e1ee9181f3d",
        "type": "function",
        "z": "529b269d20843dad",
        "name": "Format config messages sensors",
        "func": "var ident = \"slaapkamer_pi\";\nvar name = \"SlaapkamerPi\";\nvar model = \"3B+\";\nvar manufact = \"DIY\";\n\nvar t = \"Slaapkamer/\";\nvar av_t = \"Slaapkamer/status\";\n\nvar name1 = \"Temperatuur slaapkamer\";\nvar id1 = (name1.toLowerCase()).split(' ').join('_');\nvar config1 = {\n    payload: {\n        name: name1,\n        uniq_id: id1,\n        stat_t: t+\"input/temperatuur\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id1+\"/config\"\n};\nvar name2 = \"Luchtvochtigheid slaapkamer\";\nvar id2 = (name2.toLowerCase()).split(' ').join('_');\nvar config2 = {\n    payload: {\n        name: name2,\n        uniq_id: id2,\n        stat_t: t+\"input/luchtvochtigheid\",\n        avty_t: av_t,\n        dev_cla: \"humidity\",\n        unit_of_meas: \"%\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id2+\"/config\"\n};\nvar name3 = \"Temperatuur cpu Slaapkamer\";\nvar id3 = (name3.toLowerCase()).split(' ').join('_');\nvar config3 = {\n    payload: {\n        name: name3,\n        uniq_id: id3,\n        stat_t: t+\"system/temp\",\n        avty_t: av_t,\n        dev_cla: \"temperature\",\n        unit_of_meas: \"°C\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id3+\"/config\"\n};\nvar name4 = \"Cpu Slaapkamer\";\nvar id4 = (name4.toLowerCase()).split(' ').join('_');\nvar config4 = {\n    payload: {\n        name: name4,\n        uniq_id: id4,\n        stat_t: t+\"system/cpu\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:cpu-32-bit\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id4+\"/config\"\n};\nvar name5 = \"Ram Slaapkamer\";\nvar id5 = (name5.toLowerCase()).split(' ').join('_');\nvar config5 = {\n    payload: {\n        name: name5,\n        uniq_id: id5,\n        stat_t: t+\"system/mem\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id5+\"/config\"\n};\nvar name6 = \"Swap Slaapkamer\";\nvar id6 = (name6.toLowerCase()).split(' ').join('_');\nvar config6 = {\n    payload: {\n        name: name6,\n        uniq_id: id6,\n        stat_t: t+\"system/swap\",\n        avty_t: av_t,\n        unit_of_meas: \"%\",\n        ic: \"mdi:memory\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id6+\"/config\"\n};\nvar name7 = \"Uptime Slaapkamer\";\nvar id7 = (name7.toLowerCase()).split(' ').join('_');\nvar config7 = {\n    payload: {\n        name: name7,\n        uniq_id: id7,\n        stat_t: t+\"system/uptime\",\n        avty_t: av_t,\n        ic: \"mdi:av-timer\",\n        dev:  {\n            identifiers: [ident],\n            name: name, \n            model: model, \n            manufacturer: manufact\n            \n        }\n    },\n    topic: \"homeassistant/sensor/\"+ident+\"/\"+id7+\"/config\"\n};\n\nreturn [config1, config2, config3, config4, config5, config6, config7];\n",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 539,
        "y": 365,
        "wires": [
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ],
            [
                "6d9d5614219a0c3f"
            ]
        ]
    },
    {
        "id": "b1408e309df839a2",
        "type": "rpi-dht22",
        "z": "529b269d20843dad",
        "name": "DHT22",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "2",
        "pin": "7",
        "x": 342.5,
        "y": 1026,
        "wires": [
            [
                "c1559f5ec8af703e",
                "50fd100e3f79925b"
            ]
        ]
    },
    {
        "id": "e04ba4f1e48af86b",
        "type": "vcgencmd",
        "z": "529b269d20843dad",
        "name": "",
        "fullPath": "/usr/bin/vcgencmd",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 383.5,
        "y": 777.75,
        "wires": [
            [
                "433555f1d9aa1e93",
                "150ca5157225c7fe"
            ]
        ]
    },
    {
        "id": "e09ffe89c18959db",
        "type": "vcgencmd",
        "z": "529b269d20843dad",
        "name": "",
        "fullPath": "/usr/bin/vcgencmd",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 402.5,
        "y": 1195.75,
        "wires": [
            [
                "79c6abc617c6fe9b"
            ]
        ]
    },
    {
        "id": "a6422e686a7651a6",
        "type": "Uptime",
        "z": "529b269d20843dad",
        "name": "",
        "x": 399.5,
        "y": 1656.75,
        "wires": [
            [
                "404ddedc3a41d9a9"
            ]
        ]
    },
    {
        "id": "fb81e9581690566b",
        "type": "Memory",
        "z": "529b269d20843dad",
        "name": "",
        "x": 380.5,
        "y": 1267.75,
        "wires": [
            [
                "524b2112c30c1a3d"
            ]
        ]
    },
    {
        "id": "f534b0f127ea6213",
        "type": "cpu",
        "z": "529b269d20843dad",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 483.5,
        "y": 1516.75,
        "wires": [
            [
                "9e0dd8eaf21c23be"
            ]
        ]
    },
    {
        "id": "ccfe4abe68941a7c",
        "type": "debug",
        "z": "529b269d20843dad",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "4dd44fb0d40a96b6",
        "type": "debug",
        "z": "529b269d20843dad",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 920,
        "wires": []
    }
]